<style>
  .comparativos-hs {
    padding: 0 15px;
  }
  @media (min-width: 1200px){
    .comparativos-hs {
      display: flex;
      justify-content: center;
    }
  }
  .header-product-section {
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }

  .header-product-section h3 {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 24px;
    letter-spacing: 0;
    color: #00b45a;
  }

  .tabela-comparativo-hs {
    display: flex;
    gap: 0px;
    justify-content: center;
    background-color: #FFFBF3;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 27px;
    padding: 20px 10px 0;
  }

  .header-tabela{
    text-align: center;
    min-height: 140px;
  }

  .header-tabela h4 {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2;
    min-height: 35px;
  }

  .positivos-tabela-hs .header-tabela h4 {
    color: #00b45a;
  }

  .negativos-tabela-hs  .header-tabela h4 {
    color: #FF455A;
  }

  .tabela-comparativo-hs ul {
    padding: 0;
    list-style: none;
  }

  .header-tabela svg {
    stroke: none;
    width: auto;
    height: 69px;
  }
  
  .header-tabela img {
    height: 69px;
    width: auto;
    margin: 0 auto;
  }

  .tabela-comparativo-hs ul {
    padding: 0;
    list-style: none;
  }

  .list-comparativo li + li {
    border-top: 1px solid #FFF2D9;
  }

  .tabela-comparativo-hs li::after{
    content: '';
    background-size: cover;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);  
  }

  .positivos-tabela-hs li::after {
    width: 13px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.79' height='8.792' viewBox='0 0 11.79 8.792'%3E%3Cpath id='Icon_awesome-check' data-name='Icon awesome-check' d='M4,13.2.173,9.365a.59.59,0,0,1,0-.834L1.006,7.7a.589.589,0,0,1,.834,0l2.581,2.581L9.95,4.75a.59.59,0,0,1,.834,0l.834.834a.59.59,0,0,1,0,.834L4.838,13.2A.59.59,0,0,1,4,13.2Z' transform='translate(0 -4.577)' fill='%2300b45a'/%3E%3C/svg%3E%0A");
  }

  .negativos-tabela-hs li::after {
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.792' height='8.792' viewBox='0 0 8.792 8.792'%3E%3Cpath id='Icon_awesome-times' data-name='Icon awesome-times' d='M6.063,10.021l2.5-2.5a.786.786,0,0,0,0-1.111l-.556-.556a.786.786,0,0,0-1.111,0l-2.5,2.5-2.5-2.5a.786.786,0,0,0-1.111,0L.23,6.411a.786.786,0,0,0,0,1.111l2.5,2.5-2.5,2.5a.786.786,0,0,0,0,1.111l.556.556a.786.786,0,0,0,1.111,0l2.5-2.5,2.5,2.5a.786.786,0,0,0,1.111,0l.556-.556a.786.786,0,0,0,0-1.111Z' transform='translate(0 -5.625)' fill='%23ff455a'/%3E%3C/svg%3E%0A");
  }
  
  .list-comparativo li {
    position: relative;
    padding-left: 21px;
    font-size: 10px;
    padding-right: 20px;
    line-height: 1.3;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (max-width: 1024px){
    .list-comparativo li,
    .list-custo-beneficio li{
      min-height: 47px;
      display: flex;
      align-items: center;
    }
  }
</style>

<style>
  .header-product-beneficio-section {
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }

  .header-product-beneficio-section h3 {
    font-weight: 400;
    margin-bottom: 0;
    color: #00b45a;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 1.4;
  }

  .tabela-custo-beneficio-hs {
    display: flex;
    gap: 0px;
    justify-content: center;
    background-color: #E5F7EE;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 27px;
    padding: 20px 10px 0;
  }

  .header-tabela-custo-beneficio{
    text-align: center;
    min-height: 142px;
  }

  .positivos-tabela-hs,
  .custo-beneficio-positivos-tabela-hs{
    width: 50%;
  }
  
  .negativos-tabela-hs,
  .custo-beneficio-negativos-tabela-hs{
    width: 50%;
  }

  .header-tabela-custo-beneficio h4 {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2;
    min-height: 35px;
  }

  .custo-beneficio-positivos-tabela-hs .header-tabela-custo-beneficio h4 {
    color: #00b45a;
  }

  .custo-beneficio-negativos-tabela-hs  .header-tabela-custo-beneficio h4 {
    color: #FF455A;
  }

  .tabela-custo-beneficio-hs ul {
    padding: 0;
    list-style: none;
  }

  .header-tabela-custo-beneficio svg {
    stroke: none;
    width: auto;
    height: 69px;
  }
  
  .header-tabela-custo-beneficio img {
    height: 69px;
    width: auto;
    margin: 0 auto;
  }

  .tabela-custo-beneficio-hs ul {
    padding: 0;
    list-style: none;
  }

  .list-custo-beneficio li + li {
    border-top: 1px solid #CEF0DF;
  }

  .tabela-custo-beneficio-hs li::after{
    content: '';
    background-size: cover;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);  
  }

  .custo-beneficio-positivos-tabela-hs li::after {
    width: 13px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.79' height='8.792' viewBox='0 0 11.79 8.792'%3E%3Cpath id='Icon_awesome-check' data-name='Icon awesome-check' d='M4,13.2.173,9.365a.59.59,0,0,1,0-.834L1.006,7.7a.589.589,0,0,1,.834,0l2.581,2.581L9.95,4.75a.59.59,0,0,1,.834,0l.834.834a.59.59,0,0,1,0,.834L4.838,13.2A.59.59,0,0,1,4,13.2Z' transform='translate(0 -4.577)' fill='%2300b45a'/%3E%3C/svg%3E%0A");
  }

  .custo-beneficio-negativos-tabela-hs li::after {
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.792' height='8.792' viewBox='0 0 8.792 8.792'%3E%3Cpath id='Icon_awesome-times' data-name='Icon awesome-times' d='M6.063,10.021l2.5-2.5a.786.786,0,0,0,0-1.111l-.556-.556a.786.786,0,0,0-1.111,0l-2.5,2.5-2.5-2.5a.786.786,0,0,0-1.111,0L.23,6.411a.786.786,0,0,0,0,1.111l2.5,2.5-2.5,2.5a.786.786,0,0,0,0,1.111l.556.556a.786.786,0,0,0,1.111,0l2.5-2.5,2.5,2.5a.786.786,0,0,0,1.111,0l.556-.556a.786.786,0,0,0,0-1.111Z' transform='translate(0 -5.625)' fill='%23ff455a'/%3E%3C/svg%3E%0A");
  }
  
  .list-custo-beneficio li {
    position: relative;
    padding-left: 21px;
    font-size: 10px;
    padding-right: 20px;
    line-height: 1.3;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-tabela-custo-beneficio.padding-top-header {
    padding-top: 10px;
    padding-bottom: 63px;
  }
</style>

<div class="comparativos-hs">
  <div class="comparativo-produto-hs">
    <div class="content-comparativo-produto-hs">
      <div class="header-product-section">
        <h3>Comparativo</h3>
        <p>Compare a Holysoup com o preparo de sopas tradicionais e descubra como a sua vida pode ser mais prática, saudável e saborosa com Holysoup.</p>
      </div>
      <div class="tabela-comparativo-hs">
        <div class="tabela-comparativo-hs">
          <div class="positivos-tabela-hs">
            <div class="header-tabela">
              <svg width="69" height="69" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M34.5 69C53.5538 69 69 53.5538 69 34.5C69 15.4462 53.5538 0 34.5 0C15.4462 0 0 15.4462 0 34.5C0 53.5538 15.4462 69 34.5 69Z" fill="#00B45A"/>
                <path d="M47.508 48.13C47.0005 48.2685 46.4701 48.3025 45.949 48.23C45.9425 48.2333 45.9365 48.2373 45.931 48.242C43.6109 49.7305 41.013 50.7329 38.2944 51.1886C35.5758 51.6443 32.793 51.5438 30.1143 50.8932C27.4357 50.2425 24.9168 49.0553 22.7101 47.4033C20.5035 45.7514 18.6548 43.6689 17.276 41.282C17.0443 40.8805 16.6636 40.5866 16.2164 40.4641C15.7693 40.3417 15.2919 40.4006 14.888 40.628C14.6887 40.7388 14.5134 40.888 14.3721 41.0669C14.2309 41.2459 14.1265 41.4511 14.065 41.6706C14.0036 41.8902 13.9862 42.1197 14.014 42.346C14.0418 42.5723 14.1142 42.7909 14.227 42.989C16.0164 46.0922 18.481 48.753 21.4383 50.7744C24.3956 52.7957 27.7697 54.1259 31.3108 54.6663C34.852 55.2066 38.4693 54.9434 41.8949 53.8961C45.3204 52.8488 48.4665 51.0442 51.1 48.616C49.8813 48.8289 48.6266 48.6595 47.508 48.131" fill="white"/>
                <path d="M55.453 39.869C53.4347 40.1506 51.5414 41.0116 50.0025 42.3476C48.4637 43.6836 47.3453 45.4372 46.783 47.396C49.509 47.031 51.82 43.602 51.82 43.602C51.4955 44.6262 50.9441 45.5641 50.2069 46.3456C49.4696 47.1272 48.5656 47.7323 47.562 48.116L47.51 48.13C48.6287 48.6581 49.8833 48.8275 51.102 48.615L51.11 48.607C53.738 47.751 56.156 44.488 55.456 39.868" fill="#FFD88A"/>
                <path d="M23.428 18.999C20.9737 18.9902 18.6161 19.9554 16.8726 21.6828C15.1291 23.4102 14.142 25.7587 14.128 28.213C14.128 30.6806 15.1082 33.0471 16.8531 34.7919C18.5979 36.5368 20.9644 37.517 23.432 37.517C25.8996 37.517 28.2661 36.5368 30.0109 34.7919C31.7558 33.0471 32.736 30.6806 32.736 28.213C32.722 25.7573 31.7338 23.4076 29.9886 21.68C28.2433 19.9523 25.8837 18.9881 23.428 18.999ZM23.428 22.467C24.9584 22.4617 26.4284 23.0635 27.5157 24.1405C28.603 25.2174 29.2187 26.6816 29.228 28.212C29.229 29.065 29.0376 29.9072 28.668 30.676C27.2435 29.3523 25.371 28.6166 23.4265 28.6166C21.482 28.6166 19.6095 29.3523 18.185 30.676C17.8162 29.9074 17.6258 29.0655 17.628 28.213C17.6367 26.6825 18.2524 25.218 19.3398 24.1409C20.4272 23.0638 21.8975 22.4621 23.428 22.468" fill="white"/>
                <path d="M46.366 37.421C43.9119 37.429 41.5548 36.4635 39.8115 34.7363C38.0681 33.0091 37.0808 30.661 37.066 28.207C37.0631 26.7875 37.3916 25.3869 38.0252 24.1166C38.6589 22.8464 39.5802 21.7415 40.716 20.89C41.0854 20.6103 41.5501 20.4872 42.0095 20.5475C42.469 20.6078 42.8862 20.8465 43.171 21.212C43.3107 21.3924 43.4132 21.5987 43.4726 21.819C43.5319 22.0394 43.5469 22.2693 43.5167 22.4954C43.4864 22.7216 43.4116 22.9395 43.2964 23.1365C43.1813 23.3335 43.0282 23.5056 42.846 23.643C42.1375 24.1741 41.5628 24.8632 41.1675 25.6556C40.7722 26.4479 40.5672 27.3215 40.569 28.207C40.569 29.7453 41.1801 31.2205 42.2678 32.3082C43.3555 33.3959 44.8307 34.007 46.369 34.007C47.9072 34.007 49.3825 33.3959 50.4702 32.3082C51.5579 31.2205 52.169 29.7453 52.169 28.207C52.1707 27.3215 51.9658 26.4479 51.5705 25.6556C51.1752 24.8632 50.6005 24.1741 49.892 23.643C49.7098 23.5056 49.5567 23.3335 49.4415 23.1365C49.3264 22.9395 49.2516 22.7216 49.2213 22.4954C49.1911 22.2693 49.2061 22.0394 49.2654 21.819C49.3248 21.5987 49.4273 21.3924 49.567 21.212C49.8518 20.8465 50.269 20.6078 50.7284 20.5475C51.1879 20.4872 51.6526 20.6103 52.022 20.89C53.1578 21.7415 54.0791 22.8464 54.7128 24.1166C55.3464 25.3869 55.6749 26.7875 55.672 28.207C55.6572 30.661 54.6699 33.0091 52.9265 34.7363C51.1832 36.4635 48.8261 37.429 46.372 37.421" fill="white"/>
              </svg>
              <h4>HolySoup</h4>
            </div>
            <ul class="list-comparativo">
              <li>Pronta em 20 minutos</li>
              <li>Grande variedade de legumes</li>
              <li>Menos de R$7 por porção</li>
              <li>Receba em casa</li>
              <li>Sabores variados</li>
            </ul>
          </div>
          <div class="negativos-tabela-hs">
            <div class="header-tabela">
              <img src="https://cdn.shopify.com/s/files/1/0619/0206/1748/files/descricao_comparativo_legumes.png?v=1694909805"/>
              <h4>Fazer sua sopa do zero</h4>
            </div>
            <ul class="list-comparativo">
              <li>Mais de 1 hora de preparo</li>
              <li>Pouca variedade de legumes</li>
              <li>Muito mais caro</li>
              <li>Enfrentar fila de mercado</li>
              <li>Pouca variedade de sabor</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="custo-beneficio-produto-hs">
    <div class="content-custo-beneficio-produto-hs">
      <div class="header-product-beneficio-section">
        <h3>Custo benefício</h3>
        <p>Te ajudamos a comparar Holysoup com sopas comuns de mercado. Saia na frente em todos os aspectos!</p>
      </div>
      <div class="tabela-custo-beneficio-hs">
        <div class="tabela-custo-beneficio-hs">
          <div class="custo-beneficio-positivos-tabela-hs">
            <div class="header-tabela-custo-beneficio">
              <svg width="69" height="69" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M34.5 69C53.5538 69 69 53.5538 69 34.5C69 15.4462 53.5538 0 34.5 0C15.4462 0 0 15.4462 0 34.5C0 53.5538 15.4462 69 34.5 69Z" fill="#00B45A"/>
                <path d="M47.508 48.13C47.0005 48.2685 46.4701 48.3025 45.949 48.23C45.9425 48.2333 45.9365 48.2373 45.931 48.242C43.6109 49.7305 41.013 50.7329 38.2944 51.1886C35.5758 51.6443 32.793 51.5438 30.1143 50.8932C27.4357 50.2425 24.9168 49.0553 22.7101 47.4033C20.5035 45.7514 18.6548 43.6689 17.276 41.282C17.0443 40.8805 16.6636 40.5866 16.2164 40.4641C15.7693 40.3417 15.2919 40.4006 14.888 40.628C14.6887 40.7388 14.5134 40.888 14.3721 41.0669C14.2309 41.2459 14.1265 41.4511 14.065 41.6706C14.0036 41.8902 13.9862 42.1197 14.014 42.346C14.0418 42.5723 14.1142 42.7909 14.227 42.989C16.0164 46.0922 18.481 48.753 21.4383 50.7744C24.3956 52.7957 27.7697 54.1259 31.3108 54.6663C34.852 55.2066 38.4693 54.9434 41.8949 53.8961C45.3204 52.8488 48.4665 51.0442 51.1 48.616C49.8813 48.8289 48.6266 48.6595 47.508 48.131" fill="white"/>
                <path d="M55.453 39.869C53.4347 40.1506 51.5414 41.0116 50.0025 42.3476C48.4637 43.6836 47.3453 45.4372 46.783 47.396C49.509 47.031 51.82 43.602 51.82 43.602C51.4955 44.6262 50.9441 45.5641 50.2069 46.3456C49.4696 47.1272 48.5656 47.7323 47.562 48.116L47.51 48.13C48.6287 48.6581 49.8833 48.8275 51.102 48.615L51.11 48.607C53.738 47.751 56.156 44.488 55.456 39.868" fill="#FFD88A"/>
                <path d="M23.428 18.999C20.9737 18.9902 18.6161 19.9554 16.8726 21.6828C15.1291 23.4102 14.142 25.7587 14.128 28.213C14.128 30.6806 15.1082 33.0471 16.8531 34.7919C18.5979 36.5368 20.9644 37.517 23.432 37.517C25.8996 37.517 28.2661 36.5368 30.0109 34.7919C31.7558 33.0471 32.736 30.6806 32.736 28.213C32.722 25.7573 31.7338 23.4076 29.9886 21.68C28.2433 19.9523 25.8837 18.9881 23.428 18.999ZM23.428 22.467C24.9584 22.4617 26.4284 23.0635 27.5157 24.1405C28.603 25.2174 29.2187 26.6816 29.228 28.212C29.229 29.065 29.0376 29.9072 28.668 30.676C27.2435 29.3523 25.371 28.6166 23.4265 28.6166C21.482 28.6166 19.6095 29.3523 18.185 30.676C17.8162 29.9074 17.6258 29.0655 17.628 28.213C17.6367 26.6825 18.2524 25.218 19.3398 24.1409C20.4272 23.0638 21.8975 22.4621 23.428 22.468" fill="white"/>
                <path d="M46.366 37.421C43.9119 37.429 41.5548 36.4635 39.8115 34.7363C38.0681 33.0091 37.0808 30.661 37.066 28.207C37.0631 26.7875 37.3916 25.3869 38.0252 24.1166C38.6589 22.8464 39.5802 21.7415 40.716 20.89C41.0854 20.6103 41.5501 20.4872 42.0095 20.5475C42.469 20.6078 42.8862 20.8465 43.171 21.212C43.3107 21.3924 43.4132 21.5987 43.4726 21.819C43.5319 22.0394 43.5469 22.2693 43.5167 22.4954C43.4864 22.7216 43.4116 22.9395 43.2964 23.1365C43.1813 23.3335 43.0282 23.5056 42.846 23.643C42.1375 24.1741 41.5628 24.8632 41.1675 25.6556C40.7722 26.4479 40.5672 27.3215 40.569 28.207C40.569 29.7453 41.1801 31.2205 42.2678 32.3082C43.3555 33.3959 44.8307 34.007 46.369 34.007C47.9072 34.007 49.3825 33.3959 50.4702 32.3082C51.5579 31.2205 52.169 29.7453 52.169 28.207C52.1707 27.3215 51.9658 26.4479 51.5705 25.6556C51.1752 24.8632 50.6005 24.1741 49.892 23.643C49.7098 23.5056 49.5567 23.3335 49.4415 23.1365C49.3264 22.9395 49.2516 22.7216 49.2213 22.4954C49.1911 22.2693 49.2061 22.0394 49.2654 21.819C49.3248 21.5987 49.4273 21.3924 49.567 21.212C49.8518 20.8465 50.269 20.6078 50.7284 20.5475C51.1879 20.4872 51.6526 20.6103 52.022 20.89C53.1578 21.7415 54.0791 22.8464 54.7128 24.1166C55.3464 25.3869 55.6749 26.7875 55.672 28.207C55.6572 30.661 54.6699 33.0091 52.9265 34.7363C51.1832 36.4635 48.8261 37.429 46.372 37.421" fill="white"/>
              </svg>
              <h4>HolySoup</h4>
            </div>
            <ul class="list-custo-beneficio">
              <li>Zero sal</li>
              <li>Zero conservantes</li>
              <li>Zero glúten</li>
              <li>Sabor natural</li>
              <li>Ajuda a emagrecer</li>
            </ul>
          </div>
          <div class="custo-beneficio-negativos-tabela-hs">
            <div class="header-tabela-custo-beneficio padding-top-header">
              <svg width="142" height="72" viewBox="0 0 142 72" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M70.72 71.999C70.6641 71.9708 70.6146 71.9313 70.5748 71.8829C70.5351 71.8345 70.5058 71.7783 70.489 71.718C69.8276 70.27 68.8624 68.9812 67.659 67.939C66.3592 66.7885 64.9339 65.7882 63.41 64.957C61.0746 63.6745 58.6425 62.5765 56.136 61.673C52.368 60.273 48.514 59.15 44.636 58.12C40.55 57.037 36.436 56.079 32.328 55.076C28.6649 54.217 25.0633 53.1146 21.547 51.776C18.0894 50.4555 14.7729 48.7918 11.647 46.81C9.42427 45.4083 7.36632 43.7609 5.512 41.899C4.07414 40.461 2.84092 38.8321 1.847 37.058C0.918316 35.4146 0.320402 33.6052 0.087 31.732C-0.158017 29.6212 0.116619 27.4824 0.887 25.502C1.5911 23.7076 2.57422 22.0357 3.8 20.548C5.45761 18.5386 7.36696 16.7509 9.481 15.229C12.3415 13.1546 15.4009 11.3692 18.614 9.899C23.436 7.6804 28.4453 5.89406 33.583 4.561C37.0563 3.635 40.564 2.865 44.106 2.251C46.522 1.82767 48.9467 1.46533 51.38 1.164C53.7513 0.875333 56.1287 0.642 58.512 0.464C63.5787 0.0806662 68.6503 -0.0643338 73.727 0.0289995C76.497 0.0816662 79.2637 0.204 82.027 0.396C84.6843 0.584666 87.3357 0.840666 89.981 1.164C92.981 1.532 95.967 1.99633 98.939 2.557C103.241 3.36144 107.494 4.4054 111.68 5.684C115.91 6.96342 120.032 8.57821 124.005 10.513C127.054 11.9842 129.946 13.7599 132.637 15.813C134.663 17.3472 136.475 19.1467 138.022 21.163C139.348 22.8721 140.327 24.8241 140.903 26.909C141.7 29.8803 141.422 33.0378 140.118 35.824C139.286 37.6356 138.188 39.3125 136.86 40.799C135.384 42.4611 133.734 43.96 131.938 45.27C128.838 47.5203 125.489 49.4058 121.957 50.889C118.28 52.4576 114.482 53.7251 110.6 54.679C106.5 55.707 102.392 56.696 98.295 57.735C94.026 58.7869 89.8132 60.0552 85.673 61.535C83.2426 62.4011 80.8761 63.437 78.591 64.635C76.9553 65.4809 75.4163 66.5019 74.001 67.68C73.2225 68.3326 72.5198 69.0706 71.906 69.88C71.416 70.529 71.017 71.2419 70.72 71.999Z" fill="#FF455A"/>
              <path d="M44.7946 18.8054C45.1266 18.9929 45.4625 19.1628 45.8024 19.3152C46.1461 19.4636 46.5016 19.5906 46.8688 19.696C47.236 19.7976 47.6207 19.8757 48.0231 19.9304C48.4293 19.9851 48.861 20.0125 49.318 20.0125C49.8688 20.0125 50.3375 19.9773 50.7242 19.907C51.111 19.8328 51.4254 19.7332 51.6676 19.6082C51.9137 19.4792 52.0914 19.3269 52.2008 19.1511C52.3141 18.9753 52.3707 18.7839 52.3707 18.5769C52.3707 18.2449 52.2321 17.9832 51.9547 17.7917C51.6774 17.5964 51.2496 17.4988 50.6715 17.4988C50.4176 17.4988 50.15 17.5164 49.8688 17.5515C49.5875 17.5828 49.3024 17.6179 49.0133 17.657C48.7281 17.696 48.4449 17.7332 48.1637 17.7683C47.8864 17.7996 47.6246 17.8152 47.3785 17.8152C46.9684 17.8152 46.5739 17.7625 46.1949 17.657C45.8199 17.5515 45.486 17.3933 45.193 17.1824C44.9039 16.9714 44.6735 16.7078 44.5016 16.3914C44.3297 16.075 44.2438 15.7058 44.2438 15.2839C44.2438 15.0339 44.277 14.7859 44.3434 14.5398C44.4137 14.2937 44.5231 14.0593 44.6715 13.8367C44.8239 13.6101 45.0192 13.4011 45.2574 13.2097C45.4957 13.0144 45.7828 12.8464 46.1188 12.7058C46.4586 12.5652 46.8492 12.4558 47.2906 12.3777C47.736 12.2957 48.2418 12.2546 48.8082 12.2546C49.2184 12.2546 49.6305 12.2781 50.0446 12.325C50.4586 12.3679 50.861 12.4304 51.2516 12.5125C51.6461 12.5945 52.025 12.6941 52.3883 12.8113C52.7516 12.9246 53.0895 13.0515 53.402 13.1921L52.5875 14.6921C52.3297 14.5789 52.0524 14.4753 51.7555 14.3816C51.4586 14.2839 51.1481 14.2 50.8239 14.1296C50.4996 14.0593 50.1637 14.0046 49.816 13.9656C49.4723 13.9226 49.1207 13.9011 48.7614 13.9011C48.2496 13.9011 47.8278 13.9382 47.4957 14.0125C47.1676 14.0867 46.9059 14.1824 46.7106 14.2996C46.5153 14.4128 46.3785 14.5417 46.3004 14.6863C46.2262 14.8269 46.1891 14.9675 46.1891 15.1082C46.1891 15.3816 46.3121 15.6062 46.5582 15.782C46.8043 15.9539 47.1793 16.0398 47.6832 16.0398C47.8864 16.0398 48.1188 16.0261 48.3805 15.9988C48.6461 15.9675 48.9235 15.9343 49.2125 15.8992C49.5055 15.864 49.8024 15.8328 50.1031 15.8054C50.4078 15.7742 50.7028 15.7585 50.9879 15.7585C51.527 15.7585 52.0035 15.8191 52.4176 15.9402C52.8356 16.0613 53.1852 16.2351 53.4664 16.4617C53.7477 16.6843 53.9606 16.9558 54.1051 17.2761C54.2496 17.5925 54.3219 17.948 54.3219 18.3425C54.3219 18.8699 54.1989 19.3406 53.9528 19.7546C53.7106 20.1648 53.3629 20.5125 52.9098 20.7976C52.4606 21.0789 51.9176 21.2937 51.2809 21.4421C50.6442 21.5867 49.9352 21.6589 49.1539 21.6589C48.6383 21.6589 48.1344 21.6257 47.6422 21.5593C47.15 21.4968 46.6774 21.407 46.2242 21.2898C45.775 21.1687 45.3453 21.0261 44.9352 20.8621C44.5289 20.6941 44.152 20.5105 43.8043 20.3113L44.7946 18.8054ZM55.734 18.073C55.734 17.5769 55.8336 17.1121 56.0328 16.6785C56.236 16.2449 56.5231 15.866 56.8942 15.5417C57.2692 15.2175 57.7203 14.9617 58.2477 14.7742C58.7789 14.5867 59.3746 14.4929 60.0348 14.4929C60.6949 14.4929 61.2887 14.5867 61.816 14.7742C62.3473 14.9617 62.7985 15.2175 63.1696 15.5417C63.5446 15.866 63.8317 16.2449 64.0309 16.6785C64.234 17.1121 64.3356 17.5769 64.3356 18.073C64.3356 18.5691 64.234 19.0339 64.0309 19.4675C63.8317 19.9011 63.5446 20.28 63.1696 20.6042C62.7985 20.9285 62.3473 21.1843 61.816 21.3718C61.2887 21.5593 60.6949 21.6531 60.0348 21.6531C59.3746 21.6531 58.7789 21.5593 58.2477 21.3718C57.7203 21.1843 57.2692 20.9285 56.8942 20.6042C56.5231 20.28 56.236 19.9011 56.0328 19.4675C55.8336 19.0339 55.734 18.5691 55.734 18.073ZM57.5563 18.073C57.5563 18.3503 57.611 18.614 57.7203 18.864C57.8336 19.1101 57.9957 19.3289 58.2067 19.5203C58.4215 19.7078 58.6813 19.8582 58.986 19.9714C59.2946 20.0808 59.6442 20.1355 60.0348 20.1355C60.4254 20.1355 60.7731 20.0808 61.0778 19.9714C61.3864 19.8582 61.6461 19.7078 61.8571 19.5203C62.0719 19.3289 62.234 19.1101 62.3434 18.864C62.4567 18.614 62.5133 18.3503 62.5133 18.073C62.5133 17.7957 62.4567 17.532 62.3434 17.282C62.234 17.032 62.0719 16.8132 61.8571 16.6257C61.6461 16.4343 61.3864 16.2839 61.0778 16.1746C60.7731 16.0613 60.4254 16.0046 60.0348 16.0046C59.6442 16.0046 59.2946 16.0613 58.986 16.1746C58.6813 16.2839 58.4215 16.4343 58.2067 16.6257C57.9957 16.8132 57.8336 17.032 57.7203 17.282C57.611 17.532 57.5563 17.7957 57.5563 18.073ZM67.775 24.3542H66.0406V14.616H67.775V15.2664C67.9274 15.1609 68.1071 15.0613 68.3141 14.9675C68.5211 14.8738 68.7438 14.7917 68.9821 14.7214C69.2203 14.6511 69.4664 14.5964 69.7203 14.5574C69.9742 14.5144 70.2281 14.4929 70.4821 14.4929C71.068 14.4929 71.6051 14.5789 72.0934 14.7507C72.5856 14.9226 73.0074 15.1648 73.359 15.4773C73.7106 15.7898 73.984 16.1648 74.1793 16.6023C74.3785 17.0359 74.4781 17.5164 74.4781 18.0437C74.4781 18.5945 74.3746 19.0925 74.1676 19.5378C73.9606 19.9792 73.6735 20.3582 73.3063 20.6746C72.943 20.9871 72.5094 21.2292 72.0055 21.4011C71.5055 21.5691 70.9625 21.6531 70.3766 21.6531C70.1266 21.6531 69.8785 21.6375 69.6324 21.6062C69.3903 21.575 69.1559 21.532 68.9293 21.4773C68.7067 21.4226 68.4957 21.3582 68.2965 21.2839C68.1012 21.2058 67.9274 21.1218 67.775 21.032V24.3542ZM67.775 19.3562C67.9508 19.4968 68.1364 19.616 68.3317 19.7136C68.527 19.8113 68.7262 19.8914 68.9293 19.9539C69.1324 20.0164 69.3375 20.0632 69.5446 20.0945C69.7516 20.1218 69.9528 20.1355 70.1481 20.1355C70.5465 20.1355 70.9 20.0828 71.2086 19.9773C71.5211 19.8679 71.7828 19.7195 71.9938 19.532C72.2086 19.3445 72.3727 19.1238 72.486 18.8699C72.5992 18.616 72.6559 18.3406 72.6559 18.0437C72.6559 17.7664 72.5992 17.5046 72.486 17.2585C72.3766 17.0125 72.2164 16.7976 72.0055 16.614C71.7985 16.4265 71.5465 16.28 71.2496 16.1746C70.9567 16.0652 70.6266 16.0105 70.2594 16.0105C70.025 16.0105 69.7906 16.0339 69.5563 16.0808C69.3219 16.1238 69.0953 16.1863 68.8766 16.2683C68.6617 16.3503 68.4586 16.45 68.2672 16.5671C68.0797 16.6843 67.9156 16.8152 67.775 16.9597V19.3562ZM75.7906 19.3503C75.7906 19.0183 75.8629 18.7156 76.0074 18.4421C76.152 18.1687 76.3688 17.9343 76.6578 17.739C76.9469 17.5398 77.3063 17.3875 77.736 17.282C78.1696 17.1726 78.6735 17.1179 79.2477 17.1179C79.6735 17.1179 80.1207 17.1492 80.5895 17.2117C81.0621 17.2742 81.5485 17.3699 82.0485 17.4988C82.0289 17.28 81.9625 17.0789 81.8492 16.8953C81.736 16.7078 81.5778 16.5476 81.3746 16.4148C81.1754 16.2781 80.9332 16.1726 80.6481 16.0984C80.3668 16.0242 80.0465 15.9871 79.6871 15.9871C79.4918 15.9871 79.277 15.9988 79.0426 16.0222C78.8082 16.0457 78.566 16.0808 78.316 16.1277C78.066 16.1746 77.818 16.2332 77.5719 16.3035C77.3297 16.3738 77.1031 16.4578 76.8922 16.5554L76.3649 15.1316C76.6266 15.0378 76.9059 14.9519 77.2028 14.8738C77.5035 14.7957 77.8102 14.7292 78.1227 14.6746C78.4352 14.616 78.7477 14.571 79.0602 14.5398C79.3727 14.5085 79.6754 14.4929 79.9684 14.4929C81.2614 14.4929 82.2223 14.823 82.8512 15.4832C83.4801 16.1433 83.7946 17.155 83.7946 18.5183V21.53H82.0602V20.8796C81.8805 20.9851 81.6832 21.0847 81.4684 21.1785C81.2574 21.2722 81.027 21.3542 80.777 21.4246C80.527 21.4949 80.2574 21.5496 79.9684 21.5886C79.6832 21.6316 79.3805 21.6531 79.0602 21.6531C78.5211 21.6531 78.0465 21.5945 77.6364 21.4773C77.2301 21.3601 76.8903 21.198 76.6168 20.991C76.3434 20.7839 76.1364 20.5417 75.9957 20.2644C75.859 19.9832 75.7906 19.6785 75.7906 19.3503ZM77.6188 19.2917C77.6188 19.405 77.6481 19.5144 77.7067 19.6199C77.7653 19.7214 77.859 19.8132 77.9879 19.8953C78.1168 19.9734 78.2809 20.0378 78.4801 20.0886C78.6832 20.1355 78.9274 20.1589 79.2125 20.1589C79.5172 20.1589 79.8121 20.1316 80.0973 20.0769C80.3824 20.0222 80.6481 19.95 80.8942 19.8601C81.1403 19.7703 81.3629 19.6667 81.5621 19.5496C81.7614 19.4324 81.9274 19.3113 82.0602 19.1863V18.8816C81.7946 18.8074 81.5309 18.7449 81.2692 18.6941C81.0114 18.6433 80.7633 18.6042 80.525 18.5769C80.2906 18.5457 80.068 18.5242 79.8571 18.5125C79.65 18.5007 79.4684 18.4949 79.3121 18.4949C78.9879 18.4949 78.7184 18.5164 78.5035 18.5593C78.2887 18.6023 78.1149 18.6609 77.9821 18.7351C77.8492 18.8054 77.7555 18.8894 77.7008 18.9871C77.6461 19.0847 77.6188 19.1863 77.6188 19.2917ZM89.7477 18.0496C89.7477 17.5808 89.8434 17.1335 90.0348 16.7078C90.2262 16.2781 90.5016 15.8992 90.861 15.571C91.2203 15.2429 91.6598 14.9812 92.1793 14.7859C92.7028 14.5906 93.2965 14.4929 93.9606 14.4929C94.6207 14.4929 95.2145 14.5925 95.7418 14.7917C96.2731 14.9871 96.7223 15.2566 97.0895 15.6003C97.4606 15.9441 97.7438 16.3484 97.9391 16.8132C98.1383 17.2781 98.2379 17.7761 98.2379 18.3074C98.2379 18.3738 98.236 18.446 98.2321 18.5242C98.2321 18.5984 98.2281 18.6667 98.2203 18.7292H91.6813C91.7555 18.9363 91.8746 19.1257 92.0387 19.2976C92.2067 19.4695 92.4156 19.6179 92.6656 19.7429C92.9156 19.8679 93.2047 19.9656 93.5328 20.0359C93.861 20.1023 94.2242 20.1355 94.6227 20.1355C95.0211 20.1355 95.4176 20.0945 95.8121 20.0125C96.2067 19.9265 96.5836 19.8191 96.943 19.6902L97.5289 21.0144C97.3024 21.1199 97.0719 21.2136 96.8375 21.2957C96.6071 21.3738 96.3649 21.4402 96.111 21.4949C95.861 21.5457 95.5973 21.5847 95.3199 21.6121C95.0465 21.6394 94.7574 21.6531 94.4528 21.6531C93.6754 21.6531 92.9938 21.5593 92.4078 21.3718C91.8219 21.1843 91.3317 20.9285 90.9371 20.6042C90.5426 20.28 90.2457 19.8992 90.0465 19.4617C89.8473 19.0242 89.7477 18.5535 89.7477 18.0496ZM96.3981 17.3757C96.3356 17.1843 96.2379 17.0066 96.1051 16.8425C95.9762 16.6746 95.8141 16.53 95.6188 16.4089C95.4235 16.2839 95.1969 16.1863 94.9391 16.116C94.6813 16.0457 94.3981 16.0105 94.0895 16.0105C93.7614 16.0105 93.4625 16.0476 93.193 16.1218C92.9235 16.196 92.6871 16.2957 92.484 16.4207C92.2809 16.5457 92.111 16.6902 91.9742 16.8542C91.8414 17.0183 91.7438 17.1921 91.6813 17.3757H96.3981Z" fill="#FFD88A"/>
              <path d="M33.8058 25.616H35.5402V26.2019C35.9738 25.9363 36.3957 25.7527 36.8058 25.6511C37.2199 25.5457 37.6242 25.4929 38.0187 25.4929C38.5695 25.4929 39.0754 25.5808 39.5363 25.7566C39.9973 25.9324 40.3918 26.198 40.7199 26.5535C40.9738 26.3582 41.2238 26.1941 41.4699 26.0613C41.716 25.9246 41.9621 25.8152 42.2082 25.7332C42.4543 25.6472 42.7043 25.5867 42.9582 25.5515C43.2121 25.5125 43.4738 25.4929 43.7433 25.4929C44.3098 25.4929 44.8234 25.571 45.2844 25.7273C45.7453 25.8796 46.1379 26.1082 46.4621 26.4128C46.7902 26.7175 47.0422 27.0984 47.218 27.5554C47.3976 28.0085 47.4875 28.5339 47.4875 29.1316V32.53H45.759V29.4128C45.759 29.0339 45.7043 28.696 45.5949 28.3992C45.4894 28.0984 45.3391 27.8464 45.1437 27.6433C44.9523 27.4363 44.7219 27.28 44.4523 27.1746C44.1867 27.0652 43.8937 27.0105 43.5734 27.0105C43.3976 27.0105 43.218 27.0281 43.0344 27.0632C42.8508 27.0945 42.6711 27.1453 42.4953 27.2156C42.3234 27.2859 42.1613 27.3757 42.009 27.4851C41.8566 27.5906 41.7238 27.7156 41.6105 27.8601V32.53H39.882V29.4128C39.882 29.0339 39.8273 28.696 39.718 28.3992C39.6125 28.0984 39.4621 27.8464 39.2668 27.6433C39.0754 27.4363 38.843 27.28 38.5695 27.1746C38.3 27.0652 38.0031 27.0105 37.6789 27.0105C37.4797 27.0105 37.2785 27.032 37.0754 27.075C36.8762 27.114 36.6828 27.1707 36.4953 27.2449C36.3117 27.3191 36.1379 27.4089 35.9738 27.5144C35.8137 27.6199 35.6691 27.739 35.5402 27.8718V32.53H33.8058V25.616ZM49.3449 30.3503C49.3449 30.0183 49.4172 29.7156 49.5617 29.4421C49.7062 29.1687 49.923 28.9343 50.2121 28.739C50.5012 28.5398 50.8605 28.3875 51.2902 28.282C51.7238 28.1726 52.2277 28.1179 52.8019 28.1179C53.2277 28.1179 53.675 28.1492 54.1437 28.2117C54.6164 28.2742 55.1027 28.3699 55.6027 28.4988C55.5832 28.28 55.5168 28.0789 55.4035 27.8953C55.2902 27.7078 55.132 27.5476 54.9289 27.4148C54.7297 27.2781 54.4875 27.1726 54.2023 27.0984C53.9211 27.0242 53.6008 26.9871 53.2414 26.9871C53.0461 26.9871 52.8312 26.9988 52.5969 27.0222C52.3625 27.0457 52.1203 27.0808 51.8703 27.1277C51.6203 27.1746 51.3723 27.2332 51.1262 27.3035C50.884 27.3738 50.6574 27.4578 50.4465 27.5554L49.9191 26.1316C50.1808 26.0378 50.4601 25.9519 50.757 25.8738C51.0578 25.7957 51.3644 25.7292 51.6769 25.6746C51.9894 25.616 52.3019 25.571 52.6144 25.5398C52.9269 25.5085 53.2297 25.4929 53.5226 25.4929C54.8156 25.4929 55.7766 25.823 56.4055 26.4832C57.0344 27.1433 57.3488 28.155 57.3488 29.5183V32.53H55.6144V31.8796C55.4348 31.9851 55.2375 32.0847 55.0226 32.1785C54.8117 32.2722 54.5812 32.3542 54.3312 32.4246C54.0812 32.4949 53.8117 32.5496 53.5226 32.5886C53.2375 32.6316 52.9348 32.6531 52.6144 32.6531C52.0754 32.6531 51.6008 32.5945 51.1906 32.4773C50.7844 32.3601 50.4445 32.198 50.1711 31.991C49.8976 31.7839 49.6906 31.5417 49.55 31.2644C49.4133 30.9832 49.3449 30.6785 49.3449 30.3503ZM51.173 30.2917C51.173 30.405 51.2023 30.5144 51.2609 30.6199C51.3195 30.7214 51.4133 30.8132 51.5422 30.8953C51.6711 30.9734 51.8351 31.0378 52.0344 31.0886C52.2375 31.1355 52.4816 31.1589 52.7668 31.1589C53.0715 31.1589 53.3664 31.1316 53.6516 31.0769C53.9367 31.0222 54.2023 30.95 54.4484 30.8601C54.6945 30.7703 54.9172 30.6667 55.1164 30.5496C55.3156 30.4324 55.4816 30.3113 55.6144 30.1863V29.8816C55.3488 29.8074 55.0851 29.7449 54.8234 29.6941C54.5656 29.6433 54.3176 29.6042 54.0793 29.5769C53.8449 29.5457 53.6223 29.5242 53.4113 29.5125C53.2043 29.5007 53.0226 29.4949 52.8664 29.4949C52.5422 29.4949 52.2726 29.5164 52.0578 29.5593C51.843 29.6023 51.6691 29.6609 51.5363 29.7351C51.4035 29.8054 51.3098 29.8894 51.2551 29.9871C51.2004 30.0847 51.173 30.1863 51.173 30.2917ZM59.2297 29.0906C59.2297 28.5828 59.3215 28.1101 59.5051 27.6726C59.6926 27.2312 59.9641 26.8503 60.3195 26.53C60.6789 26.2058 61.1164 25.9519 61.632 25.7683C62.1516 25.5847 62.7433 25.4929 63.4074 25.4929C63.6965 25.4929 63.9875 25.5105 64.2805 25.5457C64.5734 25.5808 64.8547 25.6316 65.1242 25.698C65.3976 25.7605 65.6535 25.8367 65.8918 25.9265C66.1301 26.0125 66.3371 26.1082 66.5129 26.2136L65.7101 27.5203C65.3312 27.3445 64.9719 27.2156 64.632 27.1335C64.2961 27.0515 63.9543 27.0105 63.6066 27.0105C63.2082 27.0105 62.8508 27.0632 62.5344 27.1687C62.218 27.2703 61.9484 27.4148 61.7258 27.6023C61.507 27.7859 61.3391 28.0046 61.2219 28.2585C61.1086 28.5085 61.0519 28.782 61.0519 29.0789C61.0519 29.3757 61.1125 29.6511 61.2336 29.905C61.3586 30.155 61.5324 30.3718 61.7551 30.5554C61.9816 30.7351 62.2531 30.8777 62.5695 30.9832C62.8898 31.0847 63.2453 31.1355 63.6359 31.1355C64.0656 31.1355 64.4699 31.075 64.8488 30.9539C65.2316 30.8328 65.5871 30.6707 65.9152 30.4675L66.718 31.7742C66.5109 31.8992 66.2863 32.0164 66.0441 32.1257C65.8019 32.2312 65.5422 32.323 65.2648 32.4011C64.9914 32.4792 64.7023 32.5398 64.3976 32.5828C64.0969 32.6296 63.7844 32.6531 63.4601 32.6531C62.8 32.6531 62.2082 32.5632 61.6848 32.3835C61.1613 32.2039 60.718 31.9558 60.3547 31.6394C59.9914 31.3191 59.7121 30.9421 59.5168 30.5085C59.3254 30.075 59.2297 29.6023 59.2297 29.0906ZM68.259 30.3503C68.259 30.0183 68.3312 29.7156 68.4758 29.4421C68.6203 29.1687 68.8371 28.9343 69.1262 28.739C69.4152 28.5398 69.7746 28.3875 70.2043 28.282C70.6379 28.1726 71.1418 28.1179 71.716 28.1179C72.1418 28.1179 72.5891 28.1492 73.0578 28.2117C73.5305 28.2742 74.0168 28.3699 74.5168 28.4988C74.4973 28.28 74.4308 28.0789 74.3176 27.8953C74.2043 27.7078 74.0461 27.5476 73.843 27.4148C73.6437 27.2781 73.4016 27.1726 73.1164 27.0984C72.8351 27.0242 72.5148 26.9871 72.1555 26.9871C71.9601 26.9871 71.7453 26.9988 71.5109 27.0222C71.2766 27.0457 71.0344 27.0808 70.7844 27.1277C70.5344 27.1746 70.2863 27.2332 70.0402 27.3035C69.798 27.3738 69.5715 27.4578 69.3605 27.5554L68.8332 26.1316C69.0949 26.0378 69.3742 25.9519 69.6711 25.8738C69.9719 25.7957 70.2785 25.7292 70.591 25.6746C70.9035 25.616 71.216 25.571 71.5285 25.5398C71.841 25.5085 72.1437 25.4929 72.4367 25.4929C73.7297 25.4929 74.6906 25.823 75.3195 26.4832C75.9484 27.1433 76.2629 28.155 76.2629 29.5183V32.53H74.5285V31.8796C74.3488 31.9851 74.1516 32.0847 73.9367 32.1785C73.7258 32.2722 73.4953 32.3542 73.2453 32.4246C72.9953 32.4949 72.7258 32.5496 72.4367 32.5886C72.1516 32.6316 71.8488 32.6531 71.5285 32.6531C70.9894 32.6531 70.5148 32.5945 70.1047 32.4773C69.6984 32.3601 69.3586 32.198 69.0851 31.991C68.8117 31.7839 68.6047 31.5417 68.4641 31.2644C68.3273 30.9832 68.259 30.6785 68.259 30.3503ZM70.0871 30.2917C70.0871 30.405 70.1164 30.5144 70.175 30.6199C70.2336 30.7214 70.3273 30.8132 70.4562 30.8953C70.5851 30.9734 70.7492 31.0378 70.9484 31.0886C71.1516 31.1355 71.3957 31.1589 71.6808 31.1589C71.9855 31.1589 72.2805 31.1316 72.5656 31.0769C72.8508 31.0222 73.1164 30.95 73.3625 30.8601C73.6086 30.7703 73.8312 30.6667 74.0305 30.5496C74.2297 30.4324 74.3957 30.3113 74.5285 30.1863V29.8816C74.2629 29.8074 73.9992 29.7449 73.7375 29.6941C73.4797 29.6433 73.2316 29.6042 72.9933 29.5769C72.759 29.5457 72.5363 29.5242 72.3254 29.5125C72.1183 29.5007 71.9367 29.4949 71.7805 29.4949C71.4562 29.4949 71.1867 29.5164 70.9719 29.5593C70.757 29.6023 70.5832 29.6609 70.4504 29.7351C70.3176 29.8054 70.2238 29.8894 70.1691 29.9871C70.1144 30.0847 70.0871 30.1863 70.0871 30.2917ZM78.5598 25.616H80.2941V26.6121C80.6769 26.3269 81.0812 26.0808 81.507 25.8738C81.9328 25.6667 82.3566 25.5085 82.7785 25.3992L83.2883 26.9871C82.6203 27.0535 82.0324 27.2039 81.5246 27.4382C81.0207 27.6687 80.6105 27.9949 80.2941 28.4167V32.53H78.5598V25.616ZM84.5832 25.616H86.3176V26.6121C86.7004 26.3269 87.1047 26.0808 87.5305 25.8738C87.9562 25.6667 88.3801 25.5085 88.8019 25.3992L89.3117 26.9871C88.6437 27.0535 88.0558 27.2039 87.548 27.4382C87.0441 27.6687 86.634 27.9949 86.3176 28.4167V32.53H84.5832V25.616ZM90.2785 30.3503C90.2785 30.0183 90.3508 29.7156 90.4953 29.4421C90.6398 29.1687 90.8566 28.9343 91.1457 28.739C91.4348 28.5398 91.7941 28.3875 92.2238 28.282C92.6574 28.1726 93.1613 28.1179 93.7355 28.1179C94.1613 28.1179 94.6086 28.1492 95.0773 28.2117C95.55 28.2742 96.0363 28.3699 96.5363 28.4988C96.5168 28.28 96.4504 28.0789 96.3371 27.8953C96.2238 27.7078 96.0656 27.5476 95.8625 27.4148C95.6633 27.2781 95.4211 27.1726 95.1359 27.0984C94.8547 27.0242 94.5344 26.9871 94.175 26.9871C93.9797 26.9871 93.7648 26.9988 93.5305 27.0222C93.2961 27.0457 93.0539 27.0808 92.8039 27.1277C92.5539 27.1746 92.3058 27.2332 92.0598 27.3035C91.8176 27.3738 91.591 27.4578 91.3801 27.5554L90.8527 26.1316C91.1144 26.0378 91.3937 25.9519 91.6906 25.8738C91.9914 25.7957 92.298 25.7292 92.6105 25.6746C92.923 25.616 93.2355 25.571 93.548 25.5398C93.8605 25.5085 94.1633 25.4929 94.4562 25.4929C95.7492 25.4929 96.7101 25.823 97.3391 26.4832C97.968 27.1433 98.2824 28.155 98.2824 29.5183V32.53H96.548V31.8796C96.3683 31.9851 96.1711 32.0847 95.9562 32.1785C95.7453 32.2722 95.5148 32.3542 95.2648 32.4246C95.0148 32.4949 94.7453 32.5496 94.4562 32.5886C94.1711 32.6316 93.8683 32.6531 93.548 32.6531C93.009 32.6531 92.5344 32.5945 92.1242 32.4773C91.718 32.3601 91.3781 32.198 91.1047 31.991C90.8312 31.7839 90.6242 31.5417 90.4836 31.2644C90.3469 30.9832 90.2785 30.6785 90.2785 30.3503ZM92.1066 30.2917C92.1066 30.405 92.1359 30.5144 92.1945 30.6199C92.2531 30.7214 92.3469 30.8132 92.4758 30.8953C92.6047 30.9734 92.7687 31.0378 92.968 31.0886C93.1711 31.1355 93.4152 31.1589 93.7004 31.1589C94.0051 31.1589 94.3 31.1316 94.5851 31.0769C94.8703 31.0222 95.1359 30.95 95.382 30.8601C95.6281 30.7703 95.8508 30.6667 96.05 30.5496C96.2492 30.4324 96.4152 30.3113 96.548 30.1863V29.8816C96.2824 29.8074 96.0187 29.7449 95.757 29.6941C95.4992 29.6433 95.2512 29.6042 95.0129 29.5769C94.7785 29.5457 94.5558 29.5242 94.3449 29.5125C94.1379 29.5007 93.9562 29.4949 93.8 29.4949C93.4758 29.4949 93.2062 29.5164 92.9914 29.5593C92.7766 29.6023 92.6027 29.6609 92.4699 29.7351C92.3371 29.8054 92.2433 29.8894 92.1887 29.9871C92.134 30.0847 92.1066 30.1863 92.1066 30.2917ZM91.6555 22.7683C91.8664 22.5457 92.1027 22.3757 92.3644 22.2585C92.6262 22.1414 92.8976 22.0828 93.1789 22.0828C93.425 22.0828 93.6418 22.1218 93.8293 22.2C94.0168 22.2742 94.1945 22.3582 94.3625 22.4519C94.5305 22.5417 94.6945 22.6257 94.8547 22.7039C95.0148 22.7781 95.1906 22.8152 95.382 22.8152C95.4992 22.8152 95.6262 22.7996 95.7629 22.7683C95.9035 22.7332 96.0422 22.6863 96.1789 22.6277C96.3156 22.5691 96.4465 22.4988 96.5715 22.4167C96.7004 22.3347 96.8117 22.2468 96.9055 22.1531V23.6179C96.6945 23.8406 96.4582 24.0105 96.1965 24.1277C95.9348 24.2449 95.6633 24.3035 95.382 24.3035C95.1359 24.3035 94.9191 24.2664 94.7316 24.1921C94.5441 24.114 94.3664 24.03 94.1984 23.9402C94.0305 23.8464 93.8664 23.7625 93.7062 23.6882C93.5461 23.6101 93.3703 23.571 93.1789 23.571C93.0617 23.571 92.9328 23.5886 92.7922 23.6238C92.6555 23.655 92.5187 23.7 92.382 23.7585C92.2453 23.8171 92.1125 23.8875 91.9836 23.9695C91.8586 24.0515 91.7492 24.1394 91.6555 24.2332V22.7683ZM100.163 29.073C100.163 28.5769 100.263 28.1121 100.462 27.6785C100.665 27.2449 100.952 26.866 101.323 26.5417C101.698 26.2175 102.15 25.9617 102.677 25.7742C103.208 25.5867 103.804 25.4929 104.464 25.4929C105.124 25.4929 105.718 25.5867 106.245 25.7742C106.777 25.9617 107.228 26.2175 107.599 26.5417C107.974 26.866 108.261 27.2449 108.46 27.6785C108.663 28.1121 108.765 28.5769 108.765 29.073C108.765 29.5691 108.663 30.0339 108.46 30.4675C108.261 30.9011 107.974 31.28 107.599 31.6042C107.228 31.9285 106.777 32.1843 106.245 32.3718C105.718 32.5593 105.124 32.6531 104.464 32.6531C103.804 32.6531 103.208 32.5593 102.677 32.3718C102.15 32.1843 101.698 31.9285 101.323 31.6042C100.952 31.28 100.665 30.9011 100.462 30.4675C100.263 30.0339 100.163 29.5691 100.163 29.073ZM101.986 29.073C101.986 29.3503 102.04 29.614 102.15 29.864C102.263 30.1101 102.425 30.3289 102.636 30.5203C102.851 30.7078 103.111 30.8582 103.415 30.9714C103.724 31.0808 104.073 31.1355 104.464 31.1355C104.855 31.1355 105.202 31.0808 105.507 30.9714C105.816 30.8582 106.075 30.7078 106.286 30.5203C106.501 30.3289 106.663 30.1101 106.773 29.864C106.886 29.614 106.943 29.3503 106.943 29.073C106.943 28.7957 106.886 28.532 106.773 28.282C106.663 28.032 106.501 27.8132 106.286 27.6257C106.075 27.4343 105.816 27.2839 105.507 27.1746C105.202 27.0613 104.855 27.0046 104.464 27.0046C104.073 27.0046 103.724 27.0613 103.415 27.1746C103.111 27.2839 102.851 27.4343 102.636 27.6257C102.425 27.8132 102.263 28.032 102.15 28.282C102.04 28.532 101.986 28.7957 101.986 29.073Z" fill="#FFD88A"/>
              <path d="M25.4501 35.6726C25.2782 35.6726 25.1219 35.6492 24.9813 35.6023C24.8446 35.5515 24.7274 35.4851 24.6298 35.4031C24.5321 35.3171 24.4559 35.2195 24.4012 35.1101C24.3505 34.9968 24.3251 34.8777 24.3251 34.7527C24.3251 34.6238 24.3505 34.5046 24.4012 34.3953C24.4559 34.282 24.5321 34.1843 24.6298 34.1023C24.7274 34.0203 24.8446 33.9558 24.9813 33.9089C25.1219 33.8582 25.2782 33.8328 25.4501 33.8328C25.6259 33.8328 25.7821 33.8582 25.9188 33.9089C26.0594 33.9558 26.1786 34.0203 26.2762 34.1023C26.3739 34.1843 26.4481 34.282 26.4989 34.3953C26.5536 34.5046 26.5809 34.6238 26.5809 34.7527C26.5809 34.8777 26.5536 34.9968 26.4989 35.1101C26.4481 35.2195 26.3739 35.3171 26.2762 35.4031C26.1786 35.4851 26.0594 35.5515 25.9188 35.6023C25.7821 35.6492 25.6259 35.6726 25.4501 35.6726ZM24.5829 36.616H26.3173V43.53H24.5829V36.616ZM28.5438 36.616H30.2782V37.2019C30.7391 36.9402 31.1786 36.7566 31.5966 36.6511C32.0184 36.5457 32.4305 36.4929 32.8329 36.4929C33.3602 36.4929 33.8485 36.571 34.2977 36.7273C34.7469 36.8796 35.1356 37.1082 35.4637 37.4128C35.7919 37.7175 36.0477 38.0984 36.2313 38.5554C36.4188 39.0085 36.5126 39.5339 36.5126 40.1316V43.53H34.7841V40.4128C34.7841 40.0339 34.7294 39.696 34.62 39.3992C34.5145 39.0984 34.3602 38.8464 34.1571 38.6433C33.9579 38.4363 33.7137 38.28 33.4247 38.1746C33.1395 38.0652 32.8192 38.0105 32.4637 38.0105C32.2762 38.0105 32.0829 38.03 31.8837 38.0691C31.6884 38.1082 31.495 38.1648 31.3036 38.239C31.1161 38.3093 30.9344 38.3992 30.7587 38.5085C30.5829 38.614 30.4227 38.7351 30.2782 38.8718V43.53H28.5438V36.616ZM38.9208 41.4089C39.3895 41.6902 39.9052 41.8972 40.4677 42.03C41.0302 42.1628 41.6063 42.2292 42.1962 42.2292C42.5946 42.2292 42.9266 42.2019 43.1923 42.1472C43.4579 42.0925 43.6708 42.0222 43.8309 41.9363C43.9911 41.8503 44.1044 41.7527 44.1708 41.6433C44.2372 41.5339 44.2704 41.4226 44.2704 41.3093C44.2704 41.1453 44.1981 41.0046 44.0536 40.8875C43.913 40.7703 43.6786 40.7117 43.3505 40.7117C43.1981 40.7117 43.0341 40.7214 42.8583 40.741C42.6825 40.7605 42.4969 40.782 42.3016 40.8054C42.1102 40.825 41.9091 40.8445 41.6981 40.864C41.4911 40.8835 41.2802 40.8933 41.0653 40.8933C40.5966 40.8933 40.1962 40.8425 39.8641 40.741C39.536 40.6394 39.2684 40.5007 39.0614 40.325C38.8544 40.1492 38.704 39.9421 38.6102 39.7039C38.5165 39.4617 38.4696 39.2019 38.4696 38.9246C38.4696 38.573 38.5516 38.2488 38.7157 37.9519C38.8798 37.655 39.1141 37.3992 39.4188 37.1843C39.7235 36.9656 40.0907 36.7957 40.5204 36.6746C40.954 36.5535 41.4364 36.4929 41.9677 36.4929C42.245 36.4929 42.5341 36.5105 42.8348 36.5457C43.1395 36.5769 43.4384 36.6199 43.7313 36.6746C44.0243 36.7292 44.3055 36.7937 44.5751 36.8679C44.8446 36.9382 45.0829 37.0144 45.2899 37.0964L44.745 38.4441C44.3036 38.28 43.8622 38.1511 43.4208 38.0574C42.9833 37.9597 42.5321 37.9109 42.0673 37.9109C41.743 37.9109 41.4677 37.9363 41.2411 37.9871C41.0184 38.0339 40.8368 38.0984 40.6962 38.1804C40.5555 38.2585 40.452 38.3503 40.3856 38.4558C40.3231 38.5574 40.2919 38.6648 40.2919 38.7781C40.2919 38.8601 40.3075 38.9343 40.3387 39.0007C40.3739 39.0671 40.4286 39.1257 40.5028 39.1765C40.5809 39.2234 40.6805 39.2605 40.8016 39.2878C40.9266 39.3113 41.079 39.323 41.2587 39.323C41.4227 39.323 41.5966 39.3132 41.7802 39.2937C41.9637 39.2742 42.1552 39.2546 42.3544 39.2351C42.5536 39.2117 42.7587 39.1902 42.9696 39.1707C43.1844 39.1511 43.4032 39.1414 43.6259 39.1414C44.0399 39.1414 44.4012 39.1902 44.7098 39.2878C45.0223 39.3855 45.2802 39.5222 45.4833 39.698C45.6864 39.8738 45.8387 40.0808 45.9403 40.3191C46.0419 40.5574 46.0927 40.8171 46.0927 41.0984C46.0927 41.4617 46.0087 41.7996 45.8407 42.1121C45.6727 42.4246 45.4227 42.696 45.0907 42.9265C44.7587 43.1531 44.3446 43.3308 43.8485 43.4597C43.3563 43.5886 42.786 43.6531 42.1376 43.6531C41.7391 43.6531 41.3544 43.6277 40.9833 43.5769C40.6122 43.53 40.2587 43.4656 39.9227 43.3835C39.5868 43.2976 39.2704 43.198 38.9735 43.0847C38.6805 42.9714 38.413 42.8503 38.1708 42.7214L38.9208 41.4089ZM48.7001 37.9167H47.0302V36.616H48.7001V34.4656H50.4344V36.616H52.1044V37.9167H50.4344V43.53H48.7001V37.9167ZM53.3173 41.3503C53.3173 41.0183 53.3895 40.7156 53.5341 40.4421C53.6786 40.1687 53.8954 39.9343 54.1844 39.739C54.4735 39.5398 54.8329 39.3875 55.2626 39.282C55.6962 39.1726 56.2001 39.1179 56.7743 39.1179C57.2001 39.1179 57.6473 39.1492 58.1161 39.2117C58.5887 39.2742 59.0751 39.3699 59.5751 39.4988C59.5555 39.28 59.4891 39.0789 59.3759 38.8953C59.2626 38.7078 59.1044 38.5476 58.9012 38.4148C58.702 38.2781 58.4598 38.1726 58.1747 38.0984C57.8934 38.0242 57.5731 37.9871 57.2137 37.9871C57.0184 37.9871 56.8036 37.9988 56.5692 38.0222C56.3348 38.0457 56.0927 38.0808 55.8427 38.1277C55.5927 38.1746 55.3446 38.2332 55.0985 38.3035C54.8563 38.3738 54.6298 38.4578 54.4188 38.5554L53.8915 37.1316C54.1532 37.0378 54.4325 36.9519 54.7294 36.8738C55.0302 36.7957 55.3368 36.7292 55.6493 36.6746C55.9618 36.616 56.2743 36.571 56.5868 36.5398C56.8993 36.5085 57.202 36.4929 57.495 36.4929C58.788 36.4929 59.7489 36.823 60.3778 37.4832C61.0067 38.1433 61.3212 39.155 61.3212 40.5183V43.53H59.5868V42.8796C59.4071 42.9851 59.2098 43.0847 58.995 43.1785C58.7841 43.2722 58.5536 43.3542 58.3036 43.4246C58.0536 43.4949 57.7841 43.5496 57.495 43.5886C57.2098 43.6316 56.9071 43.6531 56.5868 43.6531C56.0477 43.6531 55.5731 43.5945 55.163 43.4773C54.7567 43.3601 54.4169 43.198 54.1434 42.991C53.87 42.7839 53.663 42.5417 53.5223 42.2644C53.3856 41.9832 53.3173 41.6785 53.3173 41.3503ZM55.1454 41.2917C55.1454 41.405 55.1747 41.5144 55.2333 41.6199C55.2919 41.7214 55.3856 41.8132 55.5145 41.8953C55.6434 41.9734 55.8075 42.0378 56.0067 42.0886C56.2098 42.1355 56.454 42.1589 56.7391 42.1589C57.0438 42.1589 57.3387 42.1316 57.6239 42.0769C57.9091 42.0222 58.1747 41.95 58.4208 41.8601C58.6669 41.7703 58.8895 41.6667 59.0887 41.5496C59.288 41.4324 59.454 41.3113 59.5868 41.1863V40.8816C59.3212 40.8074 59.0575 40.7449 58.7958 40.6941C58.538 40.6433 58.2899 40.6042 58.0516 40.5769C57.8173 40.5457 57.5946 40.5242 57.3837 40.5125C57.1766 40.5007 56.995 40.4949 56.8387 40.4949C56.5145 40.4949 56.245 40.5164 56.0302 40.5593C55.8153 40.6023 55.6415 40.6609 55.5087 40.7351C55.3759 40.8054 55.2821 40.8894 55.2274 40.9871C55.1727 41.0847 55.1454 41.1863 55.1454 41.2917ZM54.5594 34.5359L57.3192 32.4558L60.079 34.5359L59.2587 35.614L57.3192 34.1492L55.3798 35.614L54.5594 34.5359ZM63.618 36.616H65.3524V37.2019C65.8134 36.9402 66.2528 36.7566 66.6708 36.6511C67.0927 36.5457 67.5048 36.4929 67.9071 36.4929C68.4344 36.4929 68.9227 36.571 69.3719 36.7273C69.8212 36.8796 70.2098 37.1082 70.538 37.4128C70.8661 37.7175 71.1219 38.0984 71.3055 38.5554C71.493 39.0085 71.5868 39.5339 71.5868 40.1316V43.53H69.8583V40.4128C69.8583 40.0339 69.8036 39.696 69.6942 39.3992C69.5887 39.0984 69.4344 38.8464 69.2313 38.6433C69.0321 38.4363 68.788 38.28 68.4989 38.1746C68.2137 38.0652 67.8934 38.0105 67.538 38.0105C67.3505 38.0105 67.1571 38.03 66.9579 38.0691C66.7626 38.1082 66.5692 38.1648 66.3778 38.239C66.1903 38.3093 66.0087 38.3992 65.8329 38.5085C65.6571 38.614 65.4969 38.7351 65.3524 38.8718V43.53H63.618V36.616ZM74.7626 37.9167H73.0927V36.616H74.7626V34.4656H76.4969V36.616H78.1669V37.9167H76.4969V43.53H74.7626V37.9167ZM79.3798 41.3503C79.3798 41.0183 79.452 40.7156 79.5966 40.4421C79.7411 40.1687 79.9579 39.9343 80.2469 39.739C80.536 39.5398 80.8954 39.3875 81.3251 39.282C81.7587 39.1726 82.2626 39.1179 82.8368 39.1179C83.2626 39.1179 83.7098 39.1492 84.1786 39.2117C84.6512 39.2742 85.1376 39.3699 85.6376 39.4988C85.618 39.28 85.5516 39.0789 85.4384 38.8953C85.3251 38.7078 85.1669 38.5476 84.9637 38.4148C84.7645 38.2781 84.5223 38.1726 84.2372 38.0984C83.9559 38.0242 83.6356 37.9871 83.2762 37.9871C83.0809 37.9871 82.8661 37.9988 82.6317 38.0222C82.3973 38.0457 82.1552 38.0808 81.9052 38.1277C81.6552 38.1746 81.4071 38.2332 81.161 38.3035C80.9188 38.3738 80.6923 38.4578 80.4813 38.5554L79.954 37.1316C80.2157 37.0378 80.495 36.9519 80.7919 36.8738C81.0927 36.7957 81.3993 36.7292 81.7118 36.6746C82.0243 36.616 82.3368 36.571 82.6493 36.5398C82.9618 36.5085 83.2645 36.4929 83.5575 36.4929C84.8505 36.4929 85.8114 36.823 86.4403 37.4832C87.0692 38.1433 87.3837 39.155 87.3837 40.5183V43.53H85.6493V42.8796C85.4696 42.9851 85.2723 43.0847 85.0575 43.1785C84.8466 43.2722 84.6161 43.3542 84.3661 43.4246C84.1161 43.4949 83.8466 43.5496 83.5575 43.5886C83.2723 43.6316 82.9696 43.6531 82.6493 43.6531C82.1102 43.6531 81.6356 43.5945 81.2255 43.4773C80.8192 43.3601 80.4794 43.198 80.2059 42.991C79.9325 42.7839 79.7255 42.5417 79.5848 42.2644C79.4481 41.9832 79.3798 41.6785 79.3798 41.3503ZM81.2079 41.2917C81.2079 41.405 81.2372 41.5144 81.2958 41.6199C81.3544 41.7214 81.4481 41.8132 81.577 41.8953C81.7059 41.9734 81.87 42.0378 82.0692 42.0886C82.2723 42.1355 82.5165 42.1589 82.8016 42.1589C83.1063 42.1589 83.4012 42.1316 83.6864 42.0769C83.9716 42.0222 84.2372 41.95 84.4833 41.8601C84.7294 41.7703 84.952 41.6667 85.1512 41.5496C85.3505 41.4324 85.5165 41.3113 85.6493 41.1863V40.8816C85.3837 40.8074 85.12 40.7449 84.8583 40.6941C84.6005 40.6433 84.3524 40.6042 84.1141 40.5769C83.8798 40.5457 83.6571 40.5242 83.4462 40.5125C83.2391 40.5007 83.0575 40.4949 82.9012 40.4949C82.577 40.4949 82.3075 40.5164 82.0927 40.5593C81.8778 40.6023 81.704 40.6609 81.5712 40.7351C81.4384 40.8054 81.3446 40.8894 81.2899 40.9871C81.2352 41.0847 81.2079 41.1863 81.2079 41.2917ZM89.6805 36.616H91.4149V37.2019C91.8759 36.9402 92.3153 36.7566 92.7333 36.6511C93.1552 36.5457 93.5673 36.4929 93.9696 36.4929C94.4969 36.4929 94.9852 36.571 95.4344 36.7273C95.8837 36.8796 96.2723 37.1082 96.6005 37.4128C96.9286 37.7175 97.1844 38.0984 97.368 38.5554C97.5555 39.0085 97.6493 39.5339 97.6493 40.1316V43.53H95.9208V40.4128C95.9208 40.0339 95.8661 39.696 95.7567 39.3992C95.6512 39.0984 95.4969 38.8464 95.2938 38.6433C95.0946 38.4363 94.8505 38.28 94.5614 38.1746C94.2762 38.0652 93.9559 38.0105 93.6005 38.0105C93.413 38.0105 93.2196 38.03 93.0204 38.0691C92.8251 38.1082 92.6317 38.1648 92.4403 38.239C92.2528 38.3093 92.0712 38.3992 91.8954 38.5085C91.7196 38.614 91.5594 38.7351 91.4149 38.8718V43.53H89.6805V36.616ZM99.454 40.0496C99.454 39.5808 99.5497 39.1335 99.7411 38.7078C99.9325 38.2781 100.208 37.8992 100.567 37.571C100.927 37.2429 101.366 36.9812 101.886 36.7859C102.409 36.5906 103.003 36.4929 103.667 36.4929C104.327 36.4929 104.921 36.5925 105.448 36.7917C105.979 36.9871 106.429 37.2566 106.796 37.6003C107.167 37.9441 107.45 38.3484 107.645 38.8132C107.845 39.2781 107.944 39.7761 107.944 40.3074C107.944 40.3738 107.942 40.446 107.938 40.5242C107.938 40.5984 107.934 40.6667 107.927 40.7292H101.388C101.462 40.9363 101.581 41.1257 101.745 41.2976C101.913 41.4695 102.122 41.6179 102.372 41.7429C102.622 41.8679 102.911 41.9656 103.239 42.0359C103.567 42.1023 103.931 42.1355 104.329 42.1355C104.727 42.1355 105.124 42.0945 105.518 42.0125C105.913 41.9265 106.29 41.8191 106.649 41.6902L107.235 43.0144C107.009 43.1199 106.778 43.2136 106.544 43.2957C106.313 43.3738 106.071 43.4402 105.817 43.4949C105.567 43.5457 105.304 43.5847 105.026 43.6121C104.753 43.6394 104.464 43.6531 104.159 43.6531C103.382 43.6531 102.7 43.5593 102.114 43.3718C101.528 43.1843 101.038 42.9285 100.643 42.6042C100.249 42.28 99.952 41.8992 99.7528 41.4617C99.5536 41.0242 99.454 40.5535 99.454 40.0496ZM106.104 39.3757C106.042 39.1843 105.944 39.0066 105.811 38.8425C105.682 38.6746 105.52 38.53 105.325 38.4089C105.13 38.2839 104.903 38.1863 104.645 38.116C104.388 38.0457 104.104 38.0105 103.796 38.0105C103.468 38.0105 103.169 38.0476 102.899 38.1218C102.63 38.196 102.393 38.2957 102.19 38.4207C101.987 38.5457 101.817 38.6902 101.681 38.8542C101.548 39.0183 101.45 39.1921 101.388 39.3757H106.104ZM109.397 40.073C109.397 39.5769 109.497 39.1121 109.696 38.6785C109.899 38.2449 110.186 37.866 110.557 37.5417C110.932 37.2175 111.384 36.9617 111.911 36.7742C112.442 36.5867 113.038 36.4929 113.698 36.4929C114.358 36.4929 114.952 36.5867 115.479 36.7742C116.011 36.9617 116.462 37.2175 116.833 37.5417C117.208 37.866 117.495 38.2449 117.694 38.6785C117.897 39.1121 117.999 39.5769 117.999 40.073C117.999 40.5691 117.897 41.0339 117.694 41.4675C117.495 41.9011 117.208 42.28 116.833 42.6042C116.462 42.9285 116.011 43.1843 115.479 43.3718C114.952 43.5593 114.358 43.6531 113.698 43.6531C113.038 43.6531 112.442 43.5593 111.911 43.3718C111.384 43.1843 110.932 42.9285 110.557 42.6042C110.186 42.28 109.899 41.9011 109.696 41.4675C109.497 41.0339 109.397 40.5691 109.397 40.073ZM111.22 40.073C111.22 40.3503 111.274 40.614 111.384 40.864C111.497 41.1101 111.659 41.3289 111.87 41.5203C112.085 41.7078 112.345 41.8582 112.649 41.9714C112.958 42.0808 113.307 42.1355 113.698 42.1355C114.089 42.1355 114.436 42.0808 114.741 41.9714C115.05 41.8582 115.309 41.7078 115.52 41.5203C115.735 41.3289 115.897 41.1101 116.007 40.864C116.12 40.614 116.177 40.3503 116.177 40.073C116.177 39.7957 116.12 39.532 116.007 39.282C115.897 39.032 115.735 38.8132 115.52 38.6257C115.309 38.4343 115.05 38.2839 114.741 38.1746C114.436 38.0613 114.089 38.0046 113.698 38.0046C113.307 38.0046 112.958 38.0613 112.649 38.1746C112.345 38.2839 112.085 38.4343 111.87 38.6257C111.659 38.8132 111.497 39.032 111.384 39.282C111.274 39.532 111.22 39.7957 111.22 40.073Z" fill="#FFD88A"/>
              </svg>
            </div>
            <ul class="list-custo-beneficio">
              <li>Muito sal</li>
              <li>Conservantes prejudiciais</li>
              <li>Contém glúten</li>
              <li>Sabor artificial</li>
              <li>Altas calorias</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>