{% comment %} {{ {% assign targetTime = dataContagem %} }} {% endcomment %}


<h2 class="countdown-timer-heading">Aproveite </h2>

<div class="countdown-timer-container">
    <div class="countdown-timer-values" id="days">00</div>
    <div class="countdown-timer-values" id="hours">00</div>
    <div class="countdown-timer-values" id="minutes">00</div>
    <div class="countdown-timer-values" id="seconds">00</div>
    <div>Dias</div>
    <div>Horas</div>
    <div>Minutos</div>
    <div>Segundos</div>

</div>



<style>
    .countdown-timer-heading {
        font-size: 45px;
        margin-bottom: 0;
        text-align: center;

    }

    .countdown-timer-container {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 48px;
    }

    .countdown-timer-container div {
        width: 25%;
        text-align: center;
        font-size: 30px;

    }

    .countdown-timer-values {

        font-size: 60px !important;

    }
</style>



<script type="text/javascript">
    {%- assign data = targetDate -%}
    console.log("fuckn data", {{data}})

    // Counting 2 days from now
    const countDownDateTime = new Date().getTime() + 2 * 86400000;
    const daysValue = document.querySelector("#days");
    const hoursValue = document.querySelector("#hours");
    const minutesValue = document.querySelector("#minutes");
    const secondsValue = document.querySelector("#seconds");

    // Run this function every 1000 ms or 1 second
    let x = setInterval(function () {
        const dateTimeNow = new Date().getTime();
        let difference = countDownDateTime - dateTimeNow;
        // Calculating time and assigning values
        daysValue.innerHTML = Math.floor(difference / (1000 * 60 * 60 * 24));
        hoursValue.innerHTML = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        minutesValue.innerHTML = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
        secondsValue.innerHTML = Math.floor((difference % (1000 * 60)) / 1000);

        if (difference < 0) {
            clearInterval(x);
        }

    }, 1000);

</script>