<style>
  .header-rastreio {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .header-rastreio h3 {
    margin: 0;
    font-family: var(--font-body-family);
    font-size: 15px;
    color: #00814e;
  }

  .content-header-rastreio {
    padding-right: 20px;
    position: relative;
  }
  
  span.back-menu {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  span.back-menu svg {
    stroke: none;
    width: 21px;
    height: auto;
  }
  
  .header-rastreio p {
    margin: 0;
    line-height: 1.5;
    font-size: 13px;
  }
  
  .icon-header-rastreio svg {
    width: 30px;
    height: auto;
  }
  
  .step-by-step-rastreio .step-info {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .step-by-step-rastreio .step-info .count-step {
    border: 1px solid #00814e;
    min-width: 30px;
    min-height: 30px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #008146;
  }
  
  .step-by-step-rastreio .step-info p {
    font-size: 12px;
    line-height: 1.5;
  }
  
  .button-logistic a {
    padding: 10px 20px;
    border: 2px solid #00814e;
    display: flex;
    border-radius: 999px;
    align-items: center;
    justify-content: center;
  }
  
  .button-logistic a svg {
    width: auto;
    height: 25px;
    stroke: none;
  }
  
  .actions-rastreio {
  }
  
  .button-logistic {
    margin: 15px 0;
  }

  .halo-sidebar_rastreio .rastreio-facil{
    display: none;
  }
</style>

<div class="halo-sidebar halo-sidebar-left halo-sidebar_rastreio {% if settings.mobile_menu == 'custom' %}custom-mobile-menu{% endif %}" id="shipping-mobile" style=" padding-left: 0; padding-right: 0; padding-bottom: 0; ">
    <div class="halo-sidebar-wrapper custom-scrollbar" style="padding-bottom: 52px;">
      {% comment %}
      <div class="header-rastreio">
        <div class="icon-header-rastreio">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25.013" height="25" viewBox="0 0 25.013 25"> <g id="Grupo_48" data-name="Grupo 48" > <path id="Caminho_49" data-name="Caminho 49" d="M22.844,21.617,24.7,23.426a.88.88,0,0,1,.276.912.892.892,0,0,1-1.51.386c-.555-.537-1.1-1.089-1.639-1.637-.071-.071-.13-.156-.2-.245A6.461,6.461,0,0,1,19.5,23.875a6.164,6.164,0,0,1-4.836-.662.373.373,0,0,0-.426-.014c-.983.543-1.978,1.067-2.961,1.61a1.056,1.056,0,0,1-1.106,0Q5.381,22.19.582,19.582A1.021,1.021,0,0,1,0,18.591Q.009,12.467,0,6.344a1.021,1.021,0,0,1,.588-.987Q5.337,2.778,10.078.18a1.179,1.179,0,0,1,1.255,0q4.69,2.575,9.4,5.121a1.2,1.2,0,0,1,.717,1.2c-.023,1.989-.007,3.979-.012,5.969a.415.415,0,0,0,.171.375,6.224,6.224,0,0,1,1.345,8.6c-.02.031-.039.063-.1.168M1.789,7.732v.337q0,4.908,0,9.818a.452.452,0,0,0,.273.471q3.787,2.048,7.562,4.115c.06.032.124.054.2.086,0-.067.007-.1.007-.14q0-5.049.006-10.1a.335.335,0,0,0-.226-.33q-3.267-1.778-6.531-3.56c-.413-.226-.827-.45-1.286-.7m16.863-1.5c-.07-.046-.1-.069-.132-.087q-3.8-2.073-7.6-4.151A.373.373,0,0,0,10.509,2Q6.77,4.049,3.028,6.087c-.074.04-.144.088-.243.15.118.068.189.11.262.15q3.7,2.019,7.407,4.042a.479.479,0,0,0,.531,0q3.7-2.032,7.407-4.045c.079-.043.154-.093.259-.157m3.676,11.613A4.464,4.464,0,1,0,17.85,22.3a4.466,4.466,0,0,0,4.478-4.458m-2.694-6.007V7.752c-.08.039-.137.064-.192.094Q15.627,9.927,11.809,12a.334.334,0,0,0-.2.345c.006,1.515,0,3.031,0,4.546,0,.075.01.15.014.226a6.26,6.26,0,0,1,2.778-4.482,6.192,6.192,0,0,1,5.229-.8m-8,6.718v4.016l1.407-.767a6.5,6.5,0,0,1-1.407-3.25" transform="translate(0 0)" fill="#00814e" stroke="#fff" stroke-width="0.3"/> </g> </svg>
        </div>
        <div class="content-header-rastreio">
          <h3>Rastrear pedido</h3>
          <p>Acompanhe o passo-a-passo do seu pedido aqui!</p>
          <span class="back-menu" data-remove-sidebar="rastreio_open">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="10.004" viewBox="0 0 15 10.004">
              <path id="Icon_ionic-ios-arrow-round-back" data-name="Icon ionic-ios-arrow-round-back" d="M13.316,11.443a.681.681,0,0,1,.005.959l-3.163,3.173H22.21a.677.677,0,0,1,0,1.355H10.159L13.327,20.1a.686.686,0,0,1-.005.959.675.675,0,0,1-.953-.005L8.075,16.732h0a.761.761,0,0,1-.141-.214.646.646,0,0,1-.052-.261.679.679,0,0,1,.193-.474l4.293-4.324A.664.664,0,0,1,13.316,11.443Z" transform="translate(-7.882 -11.252)" fill="#3c3c3c"/>
            </svg>
          </span>
        </div>
      </div>
      {% endcomment %}
      <div class="header-rastreio" style=" padding: 0 20px; ">
        <div class="icon-header-rastreio">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25.013" height="25" viewBox="0 0 25.013 25"> <g id="Grupo_48" data-name="Grupo 48" > <path id="Caminho_49" data-name="Caminho 49" d="M22.844,21.617,24.7,23.426a.88.88,0,0,1,.276.912.892.892,0,0,1-1.51.386c-.555-.537-1.1-1.089-1.639-1.637-.071-.071-.13-.156-.2-.245A6.461,6.461,0,0,1,19.5,23.875a6.164,6.164,0,0,1-4.836-.662.373.373,0,0,0-.426-.014c-.983.543-1.978,1.067-2.961,1.61a1.056,1.056,0,0,1-1.106,0Q5.381,22.19.582,19.582A1.021,1.021,0,0,1,0,18.591Q.009,12.467,0,6.344a1.021,1.021,0,0,1,.588-.987Q5.337,2.778,10.078.18a1.179,1.179,0,0,1,1.255,0q4.69,2.575,9.4,5.121a1.2,1.2,0,0,1,.717,1.2c-.023,1.989-.007,3.979-.012,5.969a.415.415,0,0,0,.171.375,6.224,6.224,0,0,1,1.345,8.6c-.02.031-.039.063-.1.168M1.789,7.732v.337q0,4.908,0,9.818a.452.452,0,0,0,.273.471q3.787,2.048,7.562,4.115c.06.032.124.054.2.086,0-.067.007-.1.007-.14q0-5.049.006-10.1a.335.335,0,0,0-.226-.33q-3.267-1.778-6.531-3.56c-.413-.226-.827-.45-1.286-.7m16.863-1.5c-.07-.046-.1-.069-.132-.087q-3.8-2.073-7.6-4.151A.373.373,0,0,0,10.509,2Q6.77,4.049,3.028,6.087c-.074.04-.144.088-.243.15.118.068.189.11.262.15q3.7,2.019,7.407,4.042a.479.479,0,0,0,.531,0q3.7-2.032,7.407-4.045c.079-.043.154-.093.259-.157m3.676,11.613A4.464,4.464,0,1,0,17.85,22.3a4.466,4.466,0,0,0,4.478-4.458m-2.694-6.007V7.752c-.08.039-.137.064-.192.094Q15.627,9.927,11.809,12a.334.334,0,0,0-.2.345c.006,1.515,0,3.031,0,4.546,0,.075.01.15.014.226a6.26,6.26,0,0,1,2.778-4.482,6.192,6.192,0,0,1,5.229-.8m-8,6.718v4.016l1.407-.767a6.5,6.5,0,0,1-1.407-3.25" transform="translate(0 0)" fill="#00814e" stroke="#fff" stroke-width="0.3"/> </g> </svg>
        </div>
        <div class="content-header-rastreio" style="padding-right: 20px; position: relative; width: 100%;">
          <h3>Rastrear pedido</h3>
          <span class="back-menu" data-remove-sidebar="rastreio_open" style="position: absolute; right: 0;">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="10.004" viewBox="0 0 15 10.004">
              <path id="Icon_ionic-ios-arrow-round-back" data-name="Icon ionic-ios-arrow-round-back" d="M13.316,11.443a.681.681,0,0,1,.005.959l-3.163,3.173H22.21a.677.677,0,0,1,0,1.355H10.159L13.327,20.1a.686.686,0,0,1-.005.959.675.675,0,0,1-.953-.005L8.075,16.732h0a.761.761,0,0,1-.141-.214.646.646,0,0,1-.052-.261.679.679,0,0,1,.193-.474l4.293-4.324A.664.664,0,0,1,13.316,11.443Z" transform="translate(-7.882 -11.252)" fill="#3c3c3c"/>
            </svg>
          </span>
        </div>
      </div>
      <iframe src="https://holysoup.linkderastreio.com.br" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
      {% comment %}
      <div class="step-by-step-rastreio">
        <div class="step-info">
          <div class="count-step">1</div>
          <p>Use o código de rastreio que vai chegar no e-mail enviado por "HOLY SOUP".</p>
        </div>
        <div class="step-info">
          <div class="count-step">2</div>
          <p>É só pesquisar por "HOLY SOUP" na sua caixa de entrada.</p>
        </div>
        <div class="step-info">
          <div class="count-step">3</div>
          <p>Toque no botão abaixo referente ao seu transportador para acessar o site, e agora é só utilizar o seu código e PRONTO!</p>
        </div>

        <div class="actions-rastreio">
          <div class="button-logistic">
            <a href="https://rastreamento.correios.com.br/app/index.php" target="_blank">
              <svg id="Grupo_78" data-name="Grupo 78" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="93.622" height="19.195" viewBox="0 0 93.622 19.195"> <g id="Grupo_77" data-name="Grupo 77" > <path id="Caminho_73" data-name="Caminho 73" d="M6.665,22.939H5.824a2.143,2.143,0,0,1-1.682-.82L.147,16.989a.735.735,0,0,1,0-.883l4.016-5.13a2.111,2.111,0,0,1,1.682-.82h8.873L9.671,16.484,5.992,21.131Z" transform="translate(0 -3.764)" fill="#00814e" fill-rule="evenodd"/> <path id="Caminho_74" data-name="Caminho 74" d="M13.1,20.274l-.042-.063-3.7,4.647a1.308,1.308,0,0,0-.274.862,1.075,1.075,0,0,0,1.2.947h7.8Z" transform="translate(-3.368 -7.491)" fill="#00814e" fill-rule="evenodd"/> <path id="Caminho_75" data-name="Caminho 75" d="M27.031,1.808,26.359,0H27.2a2.143,2.143,0,0,1,1.682.82L32.9,5.95a.735.735,0,0,1,0,.883l-4.037,5.13a2.111,2.111,0,0,1-1.682.82H18.306l5.046-6.328Z" transform="translate(-6.785)" fill="#00814e" fill-rule="evenodd"/> <path id="Caminho_76" data-name="Caminho 76" d="M23.31,6.392l.042.063,3.679-4.647A1.308,1.308,0,0,0,27.3.946,1.075,1.075,0,0,0,26.106,0h-7.8Z" transform="translate(-6.785)" fill="#00814e" fill-rule="evenodd"/> <path id="Caminho_77" data-name="Caminho 77" d="M27.254,1.724a1.028,1.028,0,0,0,.231-.652A1.076,1.076,0,0,0,26.413,0H26.14a1.059,1.059,0,0,1,1.052,1.072.986.986,0,0,1-.232.652L23.323,6.391l-4.983,6.37Z" transform="translate(-6.798)" fill="#fff"/> <path id="Caminho_78" data-name="Caminho 78" d="M9.084,21.227a1.028,1.028,0,0,0-.231.652A1.076,1.076,0,0,0,9.925,22.95H10.2a1.076,1.076,0,0,1-1.072-1.072.986.986,0,0,1,.231-.652l3.658-4.667L18,10.189Z" transform="translate(-3.281 -3.776)" fill="#fff"/> <path id="Caminho_79" data-name="Caminho 79" d="M92.539,14.3a4.375,4.375,0,0,0-1.325.189,2.985,2.985,0,0,0-1.556,1.072,3.227,3.227,0,0,0-.631,1.85V24.43H90.9a.21.21,0,0,0,.21-.21V17.555a1.221,1.221,0,0,1,.274-.82,1.428,1.428,0,0,1,.756-.315,2.819,2.819,0,0,1,.736,0h.042a.362.362,0,0,0,.315-.189L94.2,14.57a4.257,4.257,0,0,0-1.661-.273" transform="translate(-32.998 -5.298)" fill="#00814e"/> <path id="Caminho_80" data-name="Caminho 80" d="M83.786,14.3a4.277,4.277,0,0,0-1.325.189,2.985,2.985,0,0,0-1.556,1.072,3.227,3.227,0,0,0-.631,1.85V24.43h1.871a.21.21,0,0,0,.21-.21V17.555a1.221,1.221,0,0,1,.274-.82,1.428,1.428,0,0,1,.756-.315,2.819,2.819,0,0,1,.736,0h.042a.39.39,0,0,0,.315-.189l.989-1.682a4.956,4.956,0,0,0-1.682-.252" transform="translate(-29.753 -5.298)" fill="#00814e"/> <path id="Caminho_81" data-name="Caminho 81" d="M54.515,20.323a.41.41,0,0,0-.315-.147.3.3,0,0,0-.189.063,4.273,4.273,0,1,1-2.186-7.947,4.072,4.072,0,0,1,2.186.61.359.359,0,0,0,.21.063.445.445,0,0,0,.315-.147l1.072-1.388a6.325,6.325,0,0,0-3.784-1.24,6.391,6.391,0,1,0,3.784,11.542Z" transform="translate(-16.839 -3.776)" fill="#00814e"/> <path id="Caminho_82" data-name="Caminho 82" d="M101.962,16.082h0a3.16,3.16,0,0,1,2.986,2.144H99a3.153,3.153,0,0,1,2.964-2.144m0-2.018a5.151,5.151,0,1,0,0,10.3h.147a5.27,5.27,0,0,0,3.217-.925l.189-.126s-1.052-1.367-1.072-1.388a.4.4,0,0,0-.295-.147.619.619,0,0,0-.189.042,4.615,4.615,0,0,1-2,.5A3.145,3.145,0,0,1,99,20.245h7.884a.21.21,0,0,0,.21-.21l.021-.588v-.231a5.133,5.133,0,0,0-5.151-5.151" transform="translate(-35.882 -5.213)" fill="#00814e"/> <path id="Caminho_83" data-name="Caminho 83" d="M115.328,24.586a.2.2,0,0,1-.21-.21V14.809a.211.211,0,0,1,.21-.21h1.661a.21.21,0,0,1,.21.21v9.566a.211.211,0,0,1-.21.21Z" transform="translate(-42.668 -5.411)" fill="#00814e"/> <path id="Caminho_84" data-name="Caminho 84" d="M67.316,15.979h0a3.112,3.112,0,1,0,3.112,3.112,3.1,3.1,0,0,0-3.112-3.112m0,8.347a5.214,5.214,0,1,1,5.214-5.214,5.213,5.213,0,0,1-5.214,5.214" transform="translate(-23.018 -5.151)" fill="#00814e"/> <path id="Caminho_85" data-name="Caminho 85" d="M125.268,16.1h0a3.08,3.08,0,1,0,3.091,3.09,3.1,3.1,0,0,0-3.091-3.09m0,8.241a5.172,5.172,0,1,1,5.172-5.172,5.169,5.169,0,0,1-5.172,5.172" transform="translate(-44.513 -5.188)" fill="#00814e"/> <path id="Caminho_86" data-name="Caminho 86" d="M142.744,18.391a7.733,7.733,0,0,0-1.325-.4c-.736-.189-1.429-.231-1.682-.631a.758.758,0,0,1,.21-1.03,2.414,2.414,0,0,1,2.271-.042c.105.042.5.274.5.274a.342.342,0,0,0,.189.063.4.4,0,0,0,.315-.168l1.052-1.346-.169-.147a3.289,3.289,0,0,0-.4-.252A5.337,5.337,0,0,0,141.083,14h-.126c-3.006.063-3.427,2.186-3.427,2.944A2.735,2.735,0,0,0,139,19.4a16.012,16.012,0,0,0,2.712.841,1.149,1.149,0,0,1,.715.588.87.87,0,0,1,.063.337,1.012,1.012,0,0,1-.778,1.03,2.988,2.988,0,0,1-2.586-.61,1.144,1.144,0,0,0-.168-.126.316.316,0,0,0-.147-.021.4.4,0,0,0-.315.168c-.021.021-1.03,1.325-1.03,1.325s.357.294.483.378a5.058,5.058,0,0,0,3.006,1.03H141c2.9,0,3.574-2.061,3.574-3.2a3.056,3.056,0,0,0-1.829-2.754" transform="translate(-50.951 -5.188)" fill="#00814e"/> </g> </svg>
              </a>
          </div>
          <div class="button-logistic">
            <a href="https://www.loggi.com/rastreador/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="63.082" height="20.621" viewBox="0 0 63.082 20.621"> <g id="Grupo_82" data-name="Grupo 82" transform="translate(-2.431 -0.795)"> <g id="Grupo_81" data-name="Grupo 81" transform="translate(2.431 0.795)" > <path id="Caminho_95" data-name="Caminho 95" d="M13.8,4.556a2.72,2.72,0,0,0-1.342-.272A16.638,16.638,0,0,1,9.38,4.011,11.84,11.84,0,0,1,6.027,2.543c-.85-.453-1.677-.95-2.509-1.437-.153-.09-.431-.119-.381-.365.043-.212.3-.214.48-.263a11.292,11.292,0,0,1,7.408.308,28.3,28.3,0,0,1,6.016,3.333,4.023,4.023,0,0,0,1.075.6,4.57,4.57,0,0,1,2.326,2.014c.29.435.565.883.88,1.3a.8.8,0,0,1,.073.885,3.64,3.64,0,0,1-2.2,2.2c-.693.228-1.365.518-2.053.758a4.155,4.155,0,0,0-1.679,1.074c-1.507,1.568-3.064,3.089-4.589,4.64-.28.285-.532.133-.787.024-.192-.082-.04-.2.018-.3A4.146,4.146,0,0,0,10.81,14.9a4.016,4.016,0,0,0-.594-1.837,4.268,4.268,0,0,1-1.629,4.773l1.971.59A2.867,2.867,0,0,1,11.779,19a1.461,1.461,0,0,1,.52,1.167c-.017.336-.145.461-.5.345-1.153-.372-2.313-.722-3.472-1.076q-2.114-.645-4.231-1.28A1.023,1.023,0,0,1,3.213,17a1.376,1.376,0,0,0-.43-1.062A15.507,15.507,0,0,1,.812,13.557c-2.018-3.24-.007-6.308,3.113-7.039a5.455,5.455,0,0,1,2.489.187c2.244.5,4.5.943,6.764,1.35.508.091.511.093.522-.411a3.12,3.12,0,0,1,.473-1.563c.2-.324.1-.489-.205-.639a2.452,2.452,0,0,0-1.558-.3A11.857,11.857,0,0,1,5.754,4.57c-.748-.28-1.515-.507-2.273-.76-.141-.047-.313-.078-.337-.261s.123-.308.269-.379A1.935,1.935,0,0,1,5.345,3,14.236,14.236,0,0,0,9.268,4.387a8.38,8.38,0,0,0,2.508.085,7.816,7.816,0,0,1,2.026.084" transform="translate(0 0)" fill="#00814e"/> <path id="Caminho_96" data-name="Caminho 96" d="M302.586,43.155c0,1.459.009,2.918,0,4.377a4.487,4.487,0,0,1-3.16,4.415,4.7,4.7,0,0,1-5.626-2.053c-.289-.494-.281-.537.208-.833.318-.193.639-.381.95-.585.2-.135.33-.112.465.106a3.17,3.17,0,0,0,.986,1.042,2.524,2.524,0,0,0,2.632.163,2.319,2.319,0,0,0,1.229-2.187c.021-.839.015-.839-.747-.584a4.676,4.676,0,0,1-6.033-2.742,4.529,4.529,0,0,1,4.3-6.131,4.966,4.966,0,0,1,2.166.431c.18.089.317.123.319-.153,0-.192.119-.265.3-.265l1.694,0c.327,0,.324.23.324.459q0,2.271,0,4.542m-2.318-.431a2.321,2.321,0,0,0-2.342-2.49A2.366,2.366,0,0,0,295.5,42.7a2.4,2.4,0,0,0,2.382,2.481,2.345,2.345,0,0,0,2.391-2.453" transform="translate(-242.669 -31.568)" fill="#00814e"/> <path id="Caminho_97" data-name="Caminho 97" d="M246.14,43.248q0,2.167,0,4.335a4.721,4.721,0,0,1-8.81,2.238c-.187-.318-.208-.531.174-.716a8.572,8.572,0,0,0,1.023-.621c.23-.154.346-.1.488.127a2.788,2.788,0,0,0,2.64,1.452,2.293,2.293,0,0,0,2.159-2.117c.019-.288,0-.578.013-.867.016-.313-.093-.342-.364-.223a4.857,4.857,0,0,1-3.971.02,4.558,4.558,0,0,1,1.7-8.725,5.087,5.087,0,0,1,2.26.379c.178.081.345.148.383-.148.029-.224.208-.225.378-.226.468,0,.938.018,1.4-.007.391-.021.534.116.53.516-.017,1.527-.007,3.055-.007,4.582m-7.032-.544a2.361,2.361,0,1,0,4.716,0,2.36,2.36,0,1,0-4.716,0" transform="translate(-195.972 -31.571)" fill="#00814e"/> <path id="Caminho_98" data-name="Caminho 98" d="M184.946,38.193a4.458,4.458,0,0,1,4.658,4.6,4.54,4.54,0,0,1-4.749,4.524,4.6,4.6,0,0,1-4.607-4.575,4.519,4.519,0,0,1,4.7-4.545m-.007,2.083a2.324,2.324,0,0,0-2.376,2.459,2.348,2.348,0,0,0,2.4,2.483,2.379,2.379,0,0,0,2.367-2.489,2.353,2.353,0,0,0-2.394-2.454" transform="translate(-149.176 -31.609)" fill="#00814e"/> <path id="Caminho_99" data-name="Caminho 99" d="M136.964,25.665q0-2.764,0-5.528c0-.559.013-.57.585-.572.413,0,.827.02,1.239-.006s.516.144.515.53c-.012,2.861-.006,5.721-.006,8.581,0,.124.01.248,0,.371-.028.323.116.435.435.433,1.266-.011,2.533,0,3.8,0,.124,0,.248.006.371,0,.264-.01.371.117.367.375-.007.509-.011,1.018,0,1.526.008.305-.126.413-.42.412-2.147-.005-4.295-.009-6.442,0-.389,0-.45-.186-.448-.512.009-1.87,0-3.741,0-5.611" transform="translate(-113.35 -16.185)" fill="#00814e"/> <path id="Caminho_100" data-name="Caminho 100" d="M354.676,42.7c0,1.32-.012,2.64.007,3.959.006.394-.124.547-.521.525a12.5,12.5,0,0,0-1.321,0c-.374.019-.506-.118-.5-.5.013-2.172.006-4.344.006-6.517,0-.522.011-1.045,0-1.567-.008-.315.109-.451.433-.44.467.016.937.021,1.4,0,.374-.018.509.12.5.5-.016,1.347-.006,2.695-.006,4.042" transform="translate(-291.601 -31.577)" fill="#00814e"/> <path id="Caminho_101" data-name="Caminho 101" d="M354.717,20.854A1.152,1.152,0,0,1,353.564,22a1.179,1.179,0,1,1,1.153-1.145" transform="translate(-291.643 -16.256)" fill="#00814e"/> <path id="Caminho_102" data-name="Caminho 102" d="M31.631,113.011c-.354,0-.549-.139-.532-.469a.411.411,0,0,1,.522-.433,9.71,9.71,0,0,1,1.066.31c.149.047.176.141.027.22a2.925,2.925,0,0,1-1.084.371" transform="translate(-25.737 -92.774)" fill="#00814e"/> </g> </g> </svg>
            </a>
          </div>
          <div class="button-logistic">
            <a href="https://www.jadlog.com.br/tracking" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="78.332" height="24.568" viewBox="0 0 78.332 24.568"><g id="Grupo_80" data-name="Grupo 80" transform="translate(0 0)"> <g id="Grupo_79" data-name="Grupo 79" transform="translate(0 0)" > <path id="Caminho_87" data-name="Caminho 87" d="M0,7.214Q2.646,8.707,5.292,10.2c1.452.815,2.9,1.632,4.364,2.43a.718.718,0,0,1,.362.743c0,2.4.014,4.808,0,7.211a1,1,0,0,0,.534,1,1,1,0,0,0,1.442-.724c.021-2.856.011-5.712.011-8.569a.909.909,0,0,0-.524-.863q-4.609-2.571-9.2-5.166c-.515-.29-1.016-.6-1.613-.959.455-.252.814-.461,1.182-.655C4.682,3.159,7.522,1.675,10.354.174a1.314,1.314,0,0,1,1.339.018Q16.045,2.5,20.406,4.786c.286.151.574.3.961.5l-.633.353Q17.65,7.367,14.568,9.1A.955.955,0,0,0,14.2,10.39a1.1,1.1,0,0,0,1.322.473c1.893-1.056,3.779-2.124,5.669-3.187.24-.135.485-.263.8-.434.015.248.034.411.034.575,0,3.293-.009,6.587,0,9.88a1.193,1.193,0,0,1-.665,1.141q-3.057,1.727-6.1,3.472c-1.2.684-2.406,1.361-3.6,2.059a1.1,1.1,0,0,1-1.229.023c-3.19-1.825-6.393-3.628-9.587-5.446-.3-.169-.565-.387-.847-.583V7.214" transform="translate(0 0)" fill="#00814e"/> <path id="Caminho_88" data-name="Caminho 88" d="M184.085,34.791c.658.075,1.308.168,1.963.217a8.085,8.085,0,0,0,1.321,0,1.635,1.635,0,0,0,1.672-1.773c.028-1.826.014-3.653.018-5.479,0-.094,0-.187,0-.281,0-1,0-1-1.023-1.107a2.55,2.55,0,0,0-3.077,2.075,2.579,2.579,0,0,0,2.584,2.974c.139.01.279.014.472.024,0,.621.011,1.224-.012,1.825a.372.372,0,0,1-.267.243c-2.167.057-4.258-.741-4.953-2.95-.586-1.865-.514-3.685,1.071-5.14a4.9,4.9,0,0,1,3.017-1.191,11.68,11.68,0,0,1,4.149.508.672.672,0,0,1,.565.768c-.022,2.31,0,4.621-.02,6.931a7.5,7.5,0,0,1-.205,1.666,3.694,3.694,0,0,1-3.743,2.91c-1.036.011-2.073-.113-3.109-.173-.254-.015-.421-.111-.42-.393,0-.541,0-1.082,0-1.649" transform="translate(-113.25 -15.017)" fill="#00814e"/> <path id="Caminho_89" data-name="Caminho 89" d="M122.979,18.1V15.479c0-.375.013-.75,0-1.124-.012-.252.071-.393.335-.388.646.012,1.293.017,1.937.058.094.006.236.181.252.293a5.8,5.8,0,0,1,.025.841c-.006,3.716-.018,7.431-.011,11.146,0,.372-.131.556-.484.6a15.57,15.57,0,0,1-4.373.209c-1.852-.273-3.377-1.046-3.965-2.925a4.609,4.609,0,0,1,1.243-5.148,4.935,4.935,0,0,1,3.871-1.133c.388.03.77.121,1.175.187m0,6.983c0-1.566.007-3.062-.013-4.557a.465.465,0,0,0-.291-.334,7.135,7.135,0,0,0-1.4-.18,2.284,2.284,0,0,0-2.269,1.761,2.547,2.547,0,0,0,1.118,3.009,4.735,4.735,0,0,0,2.85.3" transform="translate(-72.251 -8.67)" fill="#00814e"/> <path id="Caminho_90" data-name="Caminho 90" d="M91.277,26.989c0-.615-.021-1.188.016-1.757a.56.56,0,0,1,.33-.381,8.314,8.314,0,0,1,5.01-.266A3.4,3.4,0,0,1,99.166,27.7,41.24,41.24,0,0,1,99.3,32c.006,1.238-.017,1.263-1.266,1.476a11.5,11.5,0,0,1-4.871.052,3.029,3.029,0,0,1-2.094-1.539A2.533,2.533,0,0,1,92.454,28.4a6.437,6.437,0,0,1,1.7-.354,22.371,22.371,0,0,1,2.267-.018c.339.007.421-.1.317-.414a1.7,1.7,0,0,0-1.814-1.271,8.124,8.124,0,0,0-3.06.471c-.2.079-.407.121-.584.173m5.544,4.9V29.972c-.835,0-1.635-.008-2.435,0-.678.008-1.1.26-1.159.668-.064.423.3.826.928,1.02a.835.835,0,0,0,.184.039c.808.061,1.617.12,2.482.184" transform="translate(-56.346 -15.091)" fill="#00814e"/> <path id="Caminho_91" data-name="Caminho 91" d="M159.464,24.4a4.639,4.639,0,1,1-.106,9.265,4.635,4.635,0,1,1,.106-9.265m2.322,4.728c-.006-.14-.008-.28-.02-.42a2.333,2.333,0,0,0-3.2-2.075,2.629,2.629,0,0,0-1.447,2.746,2.342,2.342,0,0,0,2.535,2.223,2.221,2.221,0,0,0,2.13-2.474" transform="translate(-96.002 -15.144)" fill="#00814e"/> <path id="Caminho_92" data-name="Caminho 92" d="M72.088,35.23c.58.048,1.138.125,1.7.134a1.406,1.406,0,0,0,1.649-1.443,8.993,8.993,0,0,0,.056-1.026c0-2.48,0-4.96-.016-7.44,0-.355.087-.513.475-.49.565.033,1.134.029,1.7.024.286,0,.384.113.383.392-.007,2.87.031,5.74-.022,8.61a3.058,3.058,0,0,1-1.587,3.027,5.193,5.193,0,0,1-1.716.453,20.407,20.407,0,0,1-2.168-.033c-.332-.005-.475-.134-.459-.483.025-.559.007-1.12.007-1.725" transform="translate(-44.743 -15.495)" fill="#00814e"/> <path id="Caminho_93" data-name="Caminho 93" d="M144.9,20.539c0-2.029.008-4.058-.008-6.088,0-.347.1-.481.451-.467.567.023,1.135.036,1.7.028.291,0,.393.108.383.385s.019.53.019.8q0,5.643,0,11.285c0,.646,0,.646-.641.647-.488,0-.979-.019-1.465.009-.367.021-.447-.12-.445-.461.015-2.045.007-4.09.007-6.134h0" transform="translate(-89.94 -8.68)" fill="#00814e"/> <path id="Caminho_94" data-name="Caminho 94" d="M82.407,17.971a1.17,1.17,0,0,1-1.2-1.134,1.212,1.212,0,0,1,2.422-.019,1.177,1.177,0,0,1-1.225,1.153" transform="translate(-50.411 -9.72)" fill="#00814e"/> </g> </g> </svg>
            </a>
          </div>
        </div>
      </div>

      {% render 'footer-menu-sidebar' %}
      {% endcomment %}
        
    </div>
</div>