<style>
  .porque-hs {
    background-color: #f7f7f7;
    margin-top: -20px;
    display: block;
    z-index: 0;
    position: relative;
  }
  
  .content-porque-hs {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 20px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
  }

  .content-porque-hs h3 {
    color: #00b45a;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 1.4;
  }

  .content-porque-hs-list {
    text-align: left;
    max-width: 330px;
    margin: 0 auto;
  }
  
  .content-porque-hs-list svg {
    width: 18px;
    height: auto;
    stroke: none;
    margin-right: 3px;
  }
</style>

<div class="porque-hs">
  <div class="content-porque-hs">
    <h3>Você precisa da HolySoup para:</h3>
    <div class="content-porque-hs-list">
      <div>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18.544" height="18.544" viewBox="0 0 18.544 18.544">
            <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M19.106,9.834A9.272,9.272,0,1,1,9.834.563,9.272,9.272,0,0,1,19.106,9.834ZM8.762,14.744l6.879-6.879a.6.6,0,0,0,0-.846L14.8,6.173a.6.6,0,0,0-.846,0l-5.61,5.61L5.72,9.164a.6.6,0,0,0-.846,0l-.846.846a.6.6,0,0,0,0,.846l3.888,3.888A.6.6,0,0,0,8.762,14.744Z" transform="translate(-0.563 -0.563)" fill="#00b45a"/>
          </svg>
        </span>
        <span>
          <b>Jantar fácil</b> e saudável em dias cansativos
        </span>
      </div>
      <div>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18.544" height="18.544" viewBox="0 0 18.544 18.544">
            <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M19.106,9.834A9.272,9.272,0,1,1,9.834.563,9.272,9.272,0,0,1,19.106,9.834ZM8.762,14.744l6.879-6.879a.6.6,0,0,0,0-.846L14.8,6.173a.6.6,0,0,0-.846,0l-5.61,5.61L5.72,9.164a.6.6,0,0,0-.846,0l-.846.846a.6.6,0,0,0,0,.846l3.888,3.888A.6.6,0,0,0,8.762,14.744Z" transform="translate(-0.563 -0.563)" fill="#00b45a"/>
          </svg>
        </span>
        <span>
          <b>Escapar do fast-food</b> super calórico
        </span>
      </div>
      <div>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18.544" height="18.544" viewBox="0 0 18.544 18.544">
            <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M19.106,9.834A9.272,9.272,0,1,1,9.834.563,9.272,9.272,0,0,1,19.106,9.834ZM8.762,14.744l6.879-6.879a.6.6,0,0,0,0-.846L14.8,6.173a.6.6,0,0,0-.846,0l-5.61,5.61L5.72,9.164a.6.6,0,0,0-.846,0l-.846.846a.6.6,0,0,0,0,.846l3.888,3.888A.6.6,0,0,0,8.762,14.744Z" transform="translate(-0.563 -0.563)" fill="#00b45a"/>
          </svg>
        </span>
        <span>
          Manter a <b>dieta sem esforço</b> e com sabor
        </span>
      </div>
      <div>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18.544" height="18.544" viewBox="0 0 18.544 18.544">
            <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M19.106,9.834A9.272,9.272,0,1,1,9.834.563,9.272,9.272,0,0,1,19.106,9.834ZM8.762,14.744l6.879-6.879a.6.6,0,0,0,0-.846L14.8,6.173a.6.6,0,0,0-.846,0l-5.61,5.61L5.72,9.164a.6.6,0,0,0-.846,0l-.846.846a.6.6,0,0,0,0,.846l3.888,3.888A.6.6,0,0,0,8.762,14.744Z" transform="translate(-0.563 -0.563)" fill="#00b45a"/>
          </svg>
        </span>
        <span>
          Comer bem e <b>não sentir culpa</b>
        </span>
      </div>
    </div>
  </div>
</div>