<style>
  .slider-destaques-hs {
    padding: 30px 20px 30px 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  @media (max-width: 1024px) {
    .destaques-home .slider-destaques-hs {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      column-gap: 10px;
      row-gap: 10px;
      justify-items: center;
      align-items: center;
      padding: 15px;
      width: calc(100% - 15px);
    }
    .destaque-item {
      background-color: #f6f6f6;
      height: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      margin: 0 !important;
      padding-left: 1vw !important;
      width: 100%;
      text-align: center;
      font-size: 9px;
      padding: 10px;
    }
  }

  @media (min-width: 1200px){
    .slider-destaques-hs {
      padding: 30px 20px 30px 20px;
    }

    .slider-destaques-hs .swiper-wrapper {
      justify-content: center;
    }
  }
  .destaque-item {
    display: flex;
    gap: 7px;
    width: fit-content;
    padding: 0 10px;
  }
  
  .destaque-title span {
    line-height: 1.1;
    font-weight: 700;
  }
  
  .destaque-title {
    line-height: 1.1;
  }
  
  .destaque-icon svg {
    width: 28px;
    height: auto;
    stroke: none;
    color: #14865a;
    color: yellow;
  }
</style>
{% if section.settings.borda-superior %}
  {% render 'borda-superior', cor: section.settings.color-borda-superior %}
{% endif %}
<div class="destaques-home">
  <div class="slider-destaques-hs" >
      {% for block in section.blocks %}
      <div class="destaque-item">
        <div class="destaque-icon">
          {{ block.settings.svg }}
        </div>
        <div class="destaque-title"><span>{{ block.settings.title }}</span></div>
      </div>
      {% endfor %}
    </div>
</div>

{% schema %}
  {
    "name": "Destaques Home Sem Slider",
    "settings": [{
      "type": "checkbox",
      "id": "borda-superior",
      "default": true,
      "label": "Ativar divisória superior"
    },
    {
      "type": "color",
      "id": "color-borda-superior",
      "default": "#fff",
      "label": "Cor da divisória superior"
    },
    {
      "type": "checkbox",
      "id": "borda-inferior",
      "default": false,
      "label": "Ativar divisória inferior"
    },
    {
      "type": "color",
      "id": "color-borda-inferior",
      "default": "#fff",
      "label": "Cor da divisória inferior"
    }],
    "blocks": [{
      "type": "feature",
      "name": "Destaque",
      "settings": [
        {
          "type": "text",
          "id": "svg",
          "label": "SVG"
        },
        {
          "type": "html",
          "id": "title",
          "label": "Título"
        },
        {
          "type": "html",
          "id": "badge",
          "label": "Badge"
        }
      ]
    }],
    "presets": [
      {"name": "Destaques Home"}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}