{% if section.settings['borda-superior'] %}
  {% render 'borda-superior', cor: section.settings['color-borda-superior'] %}
{% endif %}

<style>
  .faq-section {
    padding: 0px 20px 60px 20px;
  }

  @media (min-width: 1200px){
    .faq-section {
      padding: 0px 120px 60px 120px;
    }

    .faqs-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      position: relative;
      column-gap: 10px;
    }
  }

  .header-faq {
    text-align: center;
    margin-bottom: 32px;
  }
  
  .header-faq h3 {
    margin: 0 0 8px;
    font-size: 15px;
    font-weight: bold;
    color: #3C3C3C;
    text-transform: uppercase;
  }
  
  .header-faq p {
    margin: 0;
    font-size: 11px;
    color: #3C3C3C;
    line-height: normal;
  }

  .faq {
    padding: 16px 24px;
    cursor: pointer;
    background: #FFFFFF;
    margin-bottom: 10px;
    border: 1px solid #EBEBEB;
    border-radius: 48px;   
  }

  .faq.active {
    background: #F3F3F3;
    border-radius: 15px;
  }
  
  .faq-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid transparent;
    font-weight: var(--font-weight-semibold);
    line-height: normal;
    letter-spacing: var(--body-letter-spacing);
    color: #3C3C3C;
    font-size: 10px;
  }

  .faq.active .faq-title {
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 10px;
  }

  .faq-content {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: normal;
  }
  
  .faq.active .faq-content {
    display: block;
    font-size: 8px;
    color: #3C3C3C;
  }

  .faq-icon {
    transition: transform 0.3s;
    width: 8px;
    height: auto;
  }
  .faqs-container {
    margin-top: 50px;
    max-width: 768px;
    margin: 0 auto;
  }

  .faq-section .header-widget h3 {
    margin-bottom: 0;
  }
</style>
<div class="faq-section">
  <div class="header-faq">
    <h3 class="font-3">Perguntas frequentes</h3>
    <p>
      Confira as respostas das possíveis dúvidas<br>
      que você possa ter
    </p>
  </div>
  <div class="faqs-container">
    {% for block in section.blocks %}
      <div class="faq">
        <div class="faq-title">
          {{ block.settings.title }}
          <img
            class="faq-icon"
            src="https://cdn.shopify.com/s/files/1/0619/0206/1748/files/downarrow_121316_1_30x.png?v=1692143013"
            alt="Arrow Down"
          >
        </div>
        <div class="faq-content">
          {% assign description = block.settings.descricao | newline_to_br | split: '<br />' %}
          {% for p in description %}
            <p>{{ p }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<script>
  const faqTitles = document.querySelectorAll('.faq-title');

  faqTitles.forEach(title => {
    title.addEventListener('click', () => {
      title.parentElement.classList.toggle('active');
      const icon = title.querySelector('.faq-icon');
      icon.style.transform = icon.style.transform === 'rotate(180deg)' ? 'rotate(0deg)' : 'rotate(180deg)';
    });
  });
</script>

{% if section.settings['borda-inferior'] %}
  {% render 'borda-inferior', cor: section.settings['color-borda-inferior'] %}
{% endif %}
{% schema %}
{
  "name": "Faq Vertical",
  "settings": [{
    "type": "checkbox",
    "id": "borda-superior",
    "default": true,
    "label": "Ativar divisória superior"
  },
  {
    "type": "color",
    "id": "color-borda-superior",
    "default": "#fff",
    "label": "Cor da divisória superior"
  },
  {
    "type": "checkbox",
    "id": "borda-inferior",
    "default": false,
    "label": "Ativar divisória inferior"
  },
  {
    "type": "color",
    "id": "color-borda-inferior",
    "default": "#fff",
    "label": "Cor da divisória inferior"
  }],
  "blocks":[
    {
      "type": "faq",
      "name": "Faq",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Título"
        },
        {
          "type": "textarea",
          "id": "descricao",
          "label": "Descrição"
        }
      ]
    }
  ],
  "presets": [
    {"name": "Faq Vertical"}
  ]
}
{% endschema %}
