<style>
  .praticidade-col-right {
    display: flex;
    gap: 15px;
    position: relative;
    flex-wrap: wrap;
    width: 450px;
    max-width: 100%;
    justify-content: center;
  }

  .praticidade-home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .plus-divisor {
    padding-top: 30px;
  }
  
  .praticidade-home {
    padding: 40px 20px 60px 20px;
  }
  

  .praticidade-col-right div:not(.plus-divisor) img {
    width: auto;
    height: 110px;
    object-fit: cover;
    margin: 0 auto;
  }

  .aviso-sal {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    line-height: 1.7;
  }

  .aviso-sal p {
    margin: 0;
  }

  .aviso-sal b {
    color: #ff455a;
  }

  @media (max-width: 1024px){
    .praticidade-home {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .praticidade-col-right {
      width: 100%;
      justify-content: center;
    }

    .praticidade-col-right {
      width: 100%;
      justify-content: center;
    }
    
    .praticidade-col-right div {
      width: 40%;
    }

    .plus-divisor {
      width: 10% !Important;
    }

    .aviso-sal {
      width: 100% !Important;
    }

    .praticidade-col-right div:not(.plus-divisor) img {
      width: auto;
      height: 110px;
      object-fit: cover;
      margin: 0 auto;
    }
      
    .plus-divisor {
      width: 10%;
    }
    
    .plus-divisor img {
      margin: 0 auto;
    }
  }

  @media (min-width: 1200px){
    .praticidade-home {
      padding: 40px 120px 60px 120px;
    }
  }
</style>
{% if section.settings.borda-superior %}
  {% render 'borda-superior', cor: section.settings.color-borda-superior %}
{% endif %}
<div class="praticidade-home">
  <div class="praticidade-col-left">
    <div class="content-left">
      <div class="header-widget custom-font text-left">
        <h3>Preparo fácil.<br />
        Só 2 ingredientes</h3>
      </div>
    </div>
  </div>
  <div class="praticidade-col-right">
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0619/0206/1748/files/agua.svg?v=1692020336" />
      <p class="text-center custom-font">Você só precisa de água</p>
    </div>
    <div class="plus-divisor">
      <img src="https://cdn.shopify.com/s/files/1/0619/0206/1748/files/plus-divisor.svg?v=1692020487">
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0619/0206/1748/files/holy.svg?v=1692020337" />
      <p class="text-center custom-font">E da sua HolySoup</p>
    </div>
    <div class="aviso-sal">
      <p><b>ADIÇÃO DE SAL OPCIONAL!</b> Nossas sopas não possuem sal. Aconselhamos o uso de sal a gosto para uma melhor experiência de sabor</p>
    </div>
  </div>
</div>
{% if section.settings.borda-inferior %}
  {% render 'borda-inferior', cor: section.settings.color-borda-inferior %}
{% endif %}
{% schema %}
  {
    "name": "Praticidades Home",
    "class": "yellow-section",
    "settings": [{
      "type": "checkbox",
      "id": "borda-superior",
      "default": true,
      "label": "Ativar divisória superior"
    },
    {
      "type": "color",
      "id": "color-borda-superior",
      "default": "#fff",
      "label": "Cor da divisória superior"
    },
    {
      "type": "checkbox",
      "id": "borda-inferior",
      "default": false,
      "label": "Ativar divisória inferior"
    },
    {
      "type": "color",
      "id": "color-borda-inferior",
      "default": "#fff",
      "label": "Cor da divisória inferior"
    }],
    "blocks": [{
      "type": "feature",
      "name": "Destaque",
      "settings": [
        {
          "type": "image_picker",
          "id": "icone",
          "label": "Icone"
        },
        {
          "type": "html",
          "id": "title",
          "label": "Título"
        }
      ]
    }],
    "presets": [
      {"name": "Praticidades Home"}
    ]
  }
{% endschema %}